@import "resets/normalize" , "resets/reset_local" , "resets/typography";

// min-width
$breakpoint-up: (
    'min-1': 'screen and (min-width: 980px)',
    'min-2': 'screen and (min-width: 1025px)',
    'min-3': 'screen and (min-width: 1281px)',
    'min-4': 'screen and (min-width: 1367px)',
    'min-5': 'screen and (min-width: 1441px)',
    'min-6': 'screen and (min-width: 1537px)',
    'min-7': 'screen and (min-width: 1601px)',
    'min-8': 'screen and (min-width: 1921px)',
) !default;

// max-width
$breakpoint-down: (
    'max-1': 'screen and (max-width: 1024px)',
    'max-2': 'screen and (max-width: 1280px)',
    'max-3': 'screen and (max-width: 1366px)',
    'max-4': 'screen and (max-width: 1440px)',
    'max-5': 'screen and (max-width: 1536px)',
    'max-6': 'screen and (max-width: 1600px)',
    'max-7': 'screen and (max-width: 1920px)',
) !default;

// mix-width
$breakpoint-mix: (
    'mix-1': 'screen and (min-width: 980px) and (max-width: 1023px)',
    'mix-2': 'screen and (min-width: 1024px) and (max-width: 1279px)',
    'mix-3': 'screen and (min-width: 1280px) and (max-width: 1365px)',
    'mix-4': 'screen and (min-width: 1366px) and (max-width: 1439px)',
    'mix-5': 'screen and (min-width: 1440px) and (max-width: 1535px)',
    'mix-6': 'screen and (min-width: 1536px) and (max-width: 1599px)',
) !default;

// @mixinの定義
@mixin min($breakpoint: min-1) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin max($breakpoint: max-1) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

@mixin mix($breakpoint: mix-1) {
    @media #{map-get($breakpoint-mix, $breakpoint)} {
        @content;
    }
}

@mixin basefont(){
    font-family: 'Klee One', cursive;}

// @mediaの用法
// #xxx {
//    @include min(min-1) { 最小値を表示。（変数）で設定値
//  }
//    @include max(max-1) { 最大値を表示。（変数）で設定値
//  }
//    @include min-max(mix-1) { 最大ー最大値を表示。（変数）で設定値
//  }
// }

.resp_pc{
    display: block;
}

.resp_sp{
    display: none;
}

.cf{
    clear: both;
}

$gray: #f7f7f7;
$navy: #003973;
$blue: #408cff;
$red: #c80000;
$aqua: #e4ecf8;
$black: #4a4a4a;
$border: #c8c8c8;


body {
    font-family: 'Klee One', cursive;
    font-size: 18px;
    color: $black;
}

header {

    #firstview {
        background-color: $gray;
        padding: 10px;

        #navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $gray;
            height: 130px;

            h1 {
                display: flex;
                flex-direction: column;
                text-align: center;

                #header-logo {
                    width: 90%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }

                #header-copy {
                    color: $navy;
                    font-size: 12px;
                    padding-bottom: 5px;
                }
            }

            .drawer-nav {
                font-size: 16px;
                margin-right: 40px;
                font-weight: 600;


                .drawer-menu {
                    display: flex;
                    position: relative;
                    padding-top: 20px;

                    &::before {
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: "";
                        background-color: $black;
                        height: 1px;
                        width: 85%;
                    }

                    .drawer-dropdown {
                        white-space: nowrap;
                        padding-right: 40px;

                        @include max(max-1) {
                        padding-right: 20px;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        .drawer-dropdown-menu {
                            display: none;
                        }
                    }
                }
            }
        }
    
        #mainvisual {
            background-color: rgba($color: $blue, $alpha: 0.1);
            height: 170px;
            position: relative;

            #header-img {
                height: 100%;
                width: 87%;
                float: right;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 58%;
                }
            }

            h2 {
                position: absolute;
                top: 50%;
                left: 1%;
                transform: translateY(-50%);
                background-color: rgba($color: #FFFFFF, $alpha: 0.4);
                height: 60px;
                width: 280px;
                padding: 12px 20px;

                span {
                    color: $navy;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}

main {
    h3 {
        text-align: center;
        font-size: 36px;
        margin-top: 80px;
    }

    form {
        background-color: $gray;
        margin-top: 40px;
        padding: 80px 50px;

        .form-item {
            background-color: #FFFFFF;
            max-width: 1440px;
            margin: 0 auto 25px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 30px 50px;

            h4 {
                font-size: 24px;
                width: 20%;

                @include max(max-3) {
                    width: 15%;
                }

                @include max(max-1) {
                    font-size: 20px;
                }
            }

            .mandatory {
                color: $red;
            }

            .mandatory,.option {
                width: 8%;

                @include max(max-1) {
                    width: 10%;
                }
            }

            .check {
                width: 100%;
                color: $red;
                padding: {
                    top: 15px;
                    left:28%;
                } 

                @include max(max-3) {
                    padding-left: 23%;
                }

                @include max(max-1) {
                    padding-left: 25%;
                }
            }

            label {
                font-size: 18px;
            }

            input,select,textarea {
                border: 2px solid #a4a4a4;
                border-radius: 10px;
                font-family: 'Klee One', cursive;
                font-size: 20px;
                color: #888888;
                padding-left: 25px;

                @include max(max-1) {
                    font-size: 18px;
                }
            }

            textarea {
                width: 789.13px;
                height: 197.67px;
                padding-top: 15px;
                resize: none;

                @include max(max-1) {
                    width: 600px;
                }
            }
        }

        .item1,.item2,.item4,.item5 {
            input {
                width: 789.48px;
                height: 57.15px; 

                @include max(max-1){
                    width: 600px;
                }
            }
        }

        .item3 {
            
            .mandatory {
                margin-bottom: 165px;
            }

            #adress {
                display: flex;
                flex-direction: column;

                input,select {
                    width: 240.39px;
                    height: 57.12px;
                    margin: {
                        left: 12px;
                        bottom: 25px;
                    }
                }
                
                #prefectures {
                    display: flex;
                    align-items: baseline;

                    label {
                        width: 10%;

                        @include max(max-1) {
                            width: 13%;
                        }
                    }

                    .select-wrap  {
                        position: relative;
                        border-radius: 10px;
            
                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            position: absolute;
                            top: 28.56px;
                            transform: translateY(-35%);
                            right: 17px;
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                            border-top: 13px solid #888888;
                            pointer-events: none;       
                        }

                        select {
                            appearance: none;
                            cursor : pointer;
                        }
                    }
                }

                #housenumber {
                    margin-bottom: 0;
                    width: 699.03px;

                    @include max(max-1) {
                        width: 510.03px;
                    }
                }
            }
        }

        .item6 {
            
            h4,.mandatory {
                margin-bottom: 171px;
            }
        }


        .item7 {

            .select-wrap  {
                position: relative;
                border-radius: 10px;
    
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 35px;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-top: 13px solid #888888;
                    pointer-events: none;       
                }
    
                select {
                    appearance: none;
                    cursor : pointer;
                    height: 57.15px; 
                    width: 240.39px;
                    margin-right: 18px;    
                }
            }
        }
    }

    #applybutton {
        text-align: center;
        width: 850px;
        margin: 100px auto 0;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 39px;
            height: 20px;
            top: 32px;
            right: 230px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: skew(35deg);
        }

        input {
            background-color: #003973;
            color: #fff;
            border-radius: 15px;
            border: none;
            width: 850px;
            height: 80px;
            font-size: 28px;
            font-family: 'Klee One', cursive;
            cursor: pointer;
        }
    }
}

footer {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #fff;
    margin-top: 180px;

    &::before {
        content: "";
        position: absolute;
        top: -30px;
        height: 2px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $navy;
    }

    p {
        padding:85px 0 25px;
    }
    
    li {
        padding-bottom: 15px;
    
        @include max(max-2) {
            font-size: 13px;
        }
    }
    
    #footer-container {
        margin: 0 20px;
        height: 100%;
        background-color: #003973;
        position: relative;
    
        #arrow {
            background-color: #fff;
            cursor : pointer;
    
            img {
                position: absolute;
                top: -9%;
                right: 21px;
                width: 35px;
                height: 101px;
        
                @include max(max-1) {
                    top: -9.3%;
                }
            }
        }
    
        #footer-flex {
            display: flex;
            justify-content: space-between;
            margin: 0 20px;
            padding: 0 97px;
            border: {
            left: 10px solid #fff;
            right: 10px solid #fff;
            }
    
            @include max(max-2) {
                padding: 0 30px;
            }
    
            #flex1 {
                padding-top: 50px;
        
                #footer-icon {
                    display: block;
                    width: 37px;
                    height: 21px;
                    margin-bottom: 15px;
                    padding-left: 70.5px;
                }
        
                #footer-logo {
                    display: block;
                    width: 177px;
                    height: 20px;
                }
        
                p {
                    padding: 45px 0 0;
                }
        
                #corporation {
                    font-weight: 600;
                }
        
                #address {
                    font-size: 12px;
                    padding-top: 13px;
                }
            }
    
            .flex2 {
            
                p {
                    font-size: 18px;
                    font-weight: 600;
        
                    @include max(max-2) {
                    font-size: 16px;
                    }      
                }
        
                #list2 {
                    padding: 15px 0;
                }
            }
        }
    
        #copyright {
            text-align: center;
            font-weight: 600;
            margin: 0 20px;
            padding: 73px 0 28px;
            border: {
            left: 10px solid #fff;
            right: 10px solid #fff;
            }
        }
    }
}