@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1px;
  /*for using REM units*/
}

body {
  direction: ltr;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}

em, b, strong {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic" ,sans-serif;
}

.resp_pc {
  display: block;
}

.resp_sp {
  display: none;
}

.cf {
  clear: both;
}

body {
  font-family: 'Klee One', cursive;
  font-size: 18px;
  color: #4a4a4a;
}

header #firstview {
  background-color: #f7f7f7;
  padding: 10px;
}

header #firstview #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  height: 130px;
}

header #firstview #navigation h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header #firstview #navigation h1 #header-logo {
  width: 90%;
  margin: 0 auto;
}

header #firstview #navigation h1 #header-logo img {
  width: 100%;
}

header #firstview #navigation h1 #header-copy {
  color: #003973;
  font-size: 12px;
  padding-bottom: 5px;
}

header #firstview #navigation .drawer-nav {
  font-size: 16px;
  margin-right: 40px;
  font-weight: 600;
}

header #firstview #navigation .drawer-nav .drawer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 20px;
}

header #firstview #navigation .drawer-nav .drawer-menu::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-color: #4a4a4a;
  height: 1px;
  width: 85%;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown {
  white-space: nowrap;
  padding-right: 40px;
}

@media screen and (max-width: 1024px) {
  header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown {
    padding-right: 20px;
  }
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown:last-child {
  padding-right: 0;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-dropdown-menu {
  display: none;
}

header #firstview #mainvisual {
  background-color: rgba(64, 140, 255, 0.1);
  height: 170px;
  position: relative;
}

header #firstview #mainvisual #header-img {
  height: 100%;
  width: 87%;
  float: right;
}

header #firstview #mainvisual #header-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 58%;
     object-position: 50% 58%;
}

header #firstview #mainvisual h2 {
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  height: 60px;
  width: 280px;
  padding: 12px 20px;
}

header #firstview #mainvisual h2 span {
  color: #003973;
  font-size: 22px;
  font-weight: 600;
}

main h3, main h4 {
  font-size: 36px;
  font-weight: 600;
  padding: 98px 0 49px 0;
  text-align: center;
}

main .category-link {
  padding: 85px 85px;
}

@media screen and (max-width: 1366px) {
  main .category-link {
    padding: 85px 45px;
  }
}

main .category-link h3 {
  font-size: 20px;
  padding-bottom: 13px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #c8c8c8;
}

main .category-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .category-link ul li {
  width: 19%;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: #657ccf;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  main .category-link ul li {
    width: 20%;
  }
}

main .category-link2 {
  padding-top: 0;
}

main .category-link2 ul li {
  width: 15%;
}

main #consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  margin-bottom: 100px;
}

main #consultation #consultation-ba {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 42px;
}

main #consultation #consultation-ba::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #c8c8c8;
  height: 1px;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  main #consultation #consultation-ba #consultation-icon {
    padding-left: 15px;
  }
}

main #consultation #consultation-ba p {
  font-size: 20px;
  white-space: nowrap;
  padding-left: 30px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  main #consultation #consultation-ba p {
    white-space: normal;
    width: 555px;
  }
  main #consultation #consultation-ba p br {
    display: none;
  }
}

main #consultation #consultation-ba a {
  width: 274px;
  height: 80px;
  margin-bottom: 5px;
  margin-left: 53px;
  background-color: #9ed8a4;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  padding: 15px 30px;
  white-space: nowrap;
}

main #consultation #consultation-ba a::after {
  position: absolute;
  content: "";
  width: 39px;
  height: 20px;
  margin-left: 20px;
  top: 30px;
  border-bottom: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

main #recruit-ranking {
  padding: 0 85px 85px;
}

@media screen and (max-width: 1366px) {
  main #recruit-ranking {
    padding: 0 40px 85px;
  }
}

main #recruit-ranking h3 {
  font-size: 20px;
  padding-bottom: 13px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #c8c8c8;
}

main #recruit-ranking #ranking-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 30px 0;
}

@media screen and (max-width: 1024px) {
  main #recruit-ranking #ranking-box {
    padding: 30px 20px 0;
  }
}

main #recruit-ranking #ranking-box .contents-block {
  width: calc(100% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

main #recruit-ranking #ranking-box .contents-block .contents-img {
  position: relative;
  padding-right: 20px;
}

main #recruit-ranking #ranking-box .contents-block .contents-img p {
  position: absolute;
  top: 0%;
  left: 0;
  border: none;
  padding: 2px 8px;
  color: #FFFFFF;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number1 {
  background: #ac9600;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number2 {
  background: #9d9d9d;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number3 {
  background: #b28550;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number4 {
  background: #000000;
}

main #recruit-ranking #ranking-box .contents-block p {
  font-weight: 600;
  font-size: 16px;
}

main #recruit-ranking #ranking-box .contents-block p a {
  display: inline-block;
  padding-bottom: 10px;
}

main #recruit-ranking #ranking-box .contents-block p span {
  display: block;
  font-size: 14px;
}

main #recruit-ranking #ranking-box .contents-block:last-of-type {
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  margin-top: 180px;
}

footer::before {
  content: "";
  position: absolute;
  top: -30px;
  height: 2px;
  width: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #003973;
}

footer p {
  padding: 85px 0 25px;
}

footer li {
  padding-bottom: 15px;
}

@media screen and (max-width: 1280px) {
  footer li {
    font-size: 13px;
  }
}

footer #footer-container {
  margin: 0 20px;
  height: 100%;
  background-color: #003973;
  position: relative;
}

footer #footer-container #arrow {
  background-color: #fff;
  cursor: pointer;
}

footer #footer-container #arrow img {
  position: absolute;
  top: -9%;
  right: 21px;
  width: 35px;
  height: 101px;
}

@media screen and (max-width: 1024px) {
  footer #footer-container #arrow img {
    top: -9.3%;
  }
}

footer #footer-container #footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
  padding: 0 97px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}

@media screen and (max-width: 1280px) {
  footer #footer-container #footer-flex {
    padding: 0 30px;
  }
}

footer #footer-container #footer-flex #flex1 {
  padding-top: 50px;
}

footer #footer-container #footer-flex #flex1 #footer-icon {
  display: block;
  width: 37px;
  height: 21px;
  margin-bottom: 15px;
  padding-left: 70.5px;
}

footer #footer-container #footer-flex #flex1 #footer-logo {
  display: block;
  width: 177px;
  height: 20px;
}

footer #footer-container #footer-flex #flex1 p {
  padding: 45px 0 0;
}

footer #footer-container #footer-flex #flex1 #corporation {
  font-weight: 600;
}

footer #footer-container #footer-flex #flex1 #address {
  font-size: 12px;
  padding-top: 13px;
}

footer #footer-container #footer-flex .flex2 p {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  footer #footer-container #footer-flex .flex2 p {
    font-size: 16px;
  }
}

footer #footer-container #footer-flex .flex2 #list2 {
  padding: 15px 0;
}

footer #footer-container #copyright {
  text-align: center;
  font-weight: 600;
  margin: 0 20px;
  padding: 73px 0 28px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
/*# sourceMappingURL=communitycontact.css.map */