@import "resets/normalize" , "resets/reset_local" , "resets/typography";

// min-width
$breakpoint-up: (
    'min-1': 'screen and (min-width: 980px)',
    'min-2': 'screen and (min-width: 1025px)',
    'min-3': 'screen and (min-width: 1281px)',
    'min-4': 'screen and (min-width: 1367px)',
    'min-5': 'screen and (min-width: 1441px)',
    'min-6': 'screen and (min-width: 1537px)',
    'min-7': 'screen and (min-width: 1601px)',
    'min-8': 'screen and (min-width: 1921px)',
) !default;

// max-width
$breakpoint-down: (
    'max-1': 'screen and (max-width: 1024px)',
    'max-2': 'screen and (max-width: 1280px)',
    'max-3': 'screen and (max-width: 1366px)',
    'max-4': 'screen and (max-width: 1440px)',
    'max-5': 'screen and (max-width: 1536px)',
    'max-6': 'screen and (max-width: 1600px)',
    'max-7': 'screen and (max-width: 1920px)',
) !default;

// mix-width
$breakpoint-mix: (
    'mix-1': 'screen and (min-width: 980px) and (max-width: 1023px)',
    'mix-2': 'screen and (min-width: 1024px) and (max-width: 1279px)',
    'mix-3': 'screen and (min-width: 1280px) and (max-width: 1365px)',
    'mix-4': 'screen and (min-width: 1366px) and (max-width: 1439px)',
    'mix-5': 'screen and (min-width: 1440px) and (max-width: 1535px)',
    'mix-6': 'screen and (min-width: 1536px) and (max-width: 1599px)',
) !default;

// @mixinの定義
@mixin min($breakpoint: min-1) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}

@mixin max($breakpoint: max-1) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

@mixin mix($breakpoint: mix-1) {
    @media #{map-get($breakpoint-mix, $breakpoint)} {
        @content;
    }
}

@mixin basefont(){
    font-family: 'Klee One', cursive;}

// @mediaの用法
// #xxx {
//    @include min(min-1) { 最小値を表示。（変数）で設定値
//  }
//    @include max(max-1) { 最大値を表示。（変数）で設定値
//  }
//    @include min-max(mix-1) { 最大ー最大値を表示。（変数）で設定値
//  }
// }

.resp_pc{
    display: block;
}

.resp_sp{
    display: none;
}

.cf{
    clear: both;
}

$gray: #f7f7f7;
$navy: #003973;
$blue: #408cff;
$aqua: #e4ecf8;
$black: #4a4a4a;
$border: #c8c8c8;


body {
    font-family: 'Klee One', cursive;
    font-size: 18px;
    color: $black;
}

header {

    #firstview {
        background-color: $gray;
        padding: 10px;

        #navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $gray;
            height: 130px;

            h1 {
                display: flex;
                flex-direction: column;
                text-align: center;

                #header-logo {
                    width: 90%;
                    margin: 0 auto;

                    img {
                        width: 100%;
                    }
                }

                #header-copy {
                    color: $navy;
                    font-size: 12px;
                    padding-bottom: 5px;
                }
            }

            .drawer-nav {
                font-size: 16px;
                margin-right: 40px;
                font-weight: 600;


                .drawer-menu {
                    display: flex;
                    position: relative;
                    padding-top: 20px;

                    &::before {
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: "";
                        background-color: $black;
                        height: 1px;
                        width: 85%;
                    }

                    .drawer-dropdown {
                        white-space: nowrap;
                        padding-right: 40px;

                        @include max(max-1) {
                        padding-right: 20px;
                        }

                        &:last-child {
                            padding-right: 0;
                        }

                        .drawer-dropdown-menu {
                            display: none;
                        }
                    }
                }
            }
        }
    
        #mainvisual {
            background-color: rgba($color: $blue, $alpha: 0.1);
            height: 170px;
            position: relative;

            #header-img {
                height: 100%;
                width: 87%;
                float: right;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: 50% 58%;
                }
            }

            h2 {
                position: absolute;
                top: 50%;
                left: 1%;
                transform: translateY(-50%);
                background-color: rgba($color: #FFFFFF, $alpha: 0.4);
                height: 60px;
                width: 280px;
                padding: 12px 20px;

                span {
                    color: $navy;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
        }
    }
}

main{

    h3,h4 {
        font-size: 36px;
        font-weight: 600;
        padding: 98px 0 49px 0;
        text-align: center;
    }
    
    #consultation {
        display: flex;
        justify-content: center;
        margin: 96px 0 100px;
        font-weight: 600;
    
        #consultation-ba{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 42px;
        
            &::after {
                position: absolute;
                right: 0;
                bottom: 0;
                content: "";
                background-color: $border;
                height: 1px;
                width: 80%;
            }
        
            #consultation-icon {
                @include max(max-1) {
                    padding-left: 15px;
                }
            }
        
            p {
                font-size: 20px;
                white-space: nowrap;
                padding: {
                left: 30px;
                bottom: 5px;
                }
        
                @include max(max-1) {
                    white-space: normal;
                    width: 555px;
                    
                    br {
                        display: none;
                    }
                }
            }
        
            a {
                width: 274px;
                height: 80px;
                margin: {
                bottom: 5px;
                left: 53px;
                }
                background-color: #9ed8a4;
                border-radius: 15px;  
                position: relative;
                display: inline-block;
                color: #FFFFFF;
                font-size: 16px;
                padding: 15px 50px;
                white-space: nowrap;
                
                &::after {
                    position: absolute;
                    content: "";
                    width: 39px;
                    height: 20px;
                    margin-left: 50px;
                    top: 30px;
                    border-bottom: 2px solid #FFFFFF;
                    border-right: 2px solid #FFFFFF;
                    transform: skew(35deg);
                }
            }
        }
    }

    #flow {
        max-width: 1600px;
        margin: 0 auto 260px;

        .flow-box {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .flow-block {
                width: 160px;
                height: 140px;
                text-align: center;
                position: relative;

                @include max(max-3) {
                    width: 240px;
                }

                @include mix(mix-2) {
                    width: 120px;
                    height: 100px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &:last-of-type {
                    margin-right: 30px;
                }

                div {
                    position: absolute;
                    top: 30%;
                    left: 25%;
                    background-color: rgba($color: $aqua, $alpha: 0.65);
                    width: 160px;
                    height: 140px;

                    @include mix(mix-2) {
                        width: 120px;
                        height: 100px;
                    }

                    p {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        font-weight: 600;
                        line-height: 1.2;
                        width: fit-content;
                        color: $navy;
                        font-size: 30px;
                        text-align: left;

                        @include mix(mix-2) {
                            font-size: 17px;
                        }

                        span {
                            font-size: 14px;

                            @include mix(mix-2) {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }

            .flow-arrow {
                width: 0;
                margin-top: 40px;
            }
        }
    }
}

footer {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #fff;
    margin-top: 180px;

    &::before {
        content: "";
        position: absolute;
        top: -30px;
        height: 2px;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $navy;
    }

    p {
        padding:85px 0 25px;
    }
    
    li {
        padding-bottom: 15px;
    
        @include max(max-2) {
            font-size: 13px;
        }
    }
    
    #footer-container {
        margin: 0 20px;
        height: 100%;
        background-color: #003973;
        position: relative;
    
        #arrow {
            background-color: #fff;
            cursor : pointer;
    
            img {
                position: absolute;
                top: -9%;
                right: 21px;
                width: 35px;
                height: 101px;
        
                @include max(max-1) {
                    top: -9.3%;
                }
            }
        }
    
        #footer-flex {
            display: flex;
            justify-content: space-between;
            margin: 0 20px;
            padding: 0 97px;
            border: {
            left: 10px solid #fff;
            right: 10px solid #fff;
            }
    
            @include max(max-2) {
                padding: 0 30px;
            }
    
            #flex1 {
                padding-top: 50px;
        
                #footer-icon {
                    display: block;
                    width: 37px;
                    height: 21px;
                    margin-bottom: 15px;
                    padding-left: 70.5px;
                }
        
                #footer-logo {
                    display: block;
                    width: 177px;
                    height: 20px;
                }
        
                p {
                    padding: 45px 0 0;
                }
        
                #corporation {
                    font-weight: 600;
                }
        
                #address {
                    font-size: 12px;
                    padding-top: 13px;
                }
            }
    
            .flex2 {
            
                p {
                    font-size: 18px;
                    font-weight: 600;
        
                    @include max(max-2) {
                    font-size: 16px;
                    }      
                }
        
                #list2 {
                    padding: 15px 0;
                }
            }
        }
    
        #copyright {
            text-align: center;
            font-weight: 600;
            margin: 0 20px;
            padding: 73px 0 28px;
            border: {
            left: 10px solid #fff;
            right: 10px solid #fff;
            }
        }
    }
}