@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1px;
  /*for using REM units*/
}

body {
  direction: ltr;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
}

em, b, strong {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic" ,sans-serif;
}

.resp_pc {
  display: block;
}

.resp_sp {
  display: none;
}

.cf {
  clear: both;
}

body {
  font-family: 'Klee One', cursive;
  font-size: 18px;
  color: #4a4a4a;
}

header #firstview {
  background-color: #f7f7f7;
  padding: 10px;
}

header #firstview #navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  height: 130px;
}

header #firstview #navigation h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

header #firstview #navigation h1 #header-logo {
  width: 90%;
  margin: 0 auto;
}

header #firstview #navigation h1 #header-logo img {
  width: 100%;
}

header #firstview #navigation h1 #header-copy {
  color: #003973;
  font-size: 12px;
  padding-bottom: 5px;
}

header #firstview #navigation .drawer-nav {
  font-size: 16px;
  margin-right: 40px;
  font-weight: 600;
}

header #firstview #navigation .drawer-nav .drawer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 20px;
}

header #firstview #navigation .drawer-nav .drawer-menu::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-color: #4a4a4a;
  height: 1px;
  width: 85%;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown {
  white-space: nowrap;
  padding-right: 40px;
}

@media screen and (max-width: 1024px) {
  header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown {
    padding-right: 20px;
  }
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown:last-child {
  padding-right: 0;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-dropdown-menu {
  display: none;
}

header #firstview #mainvisual {
  background-color: rgba(64, 140, 255, 0.1);
  height: 170px;
  position: relative;
}

header #firstview #mainvisual #header-img {
  height: 100%;
  width: 87%;
  float: right;
}

header #firstview #mainvisual #header-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 58%;
     object-position: 50% 58%;
}

header #firstview #mainvisual h2 {
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  height: 60px;
  width: 280px;
  padding: 12px 20px;
}

header #firstview #mainvisual h2 span {
  color: #003973;
  font-size: 22px;
  font-weight: 600;
}

main h3 {
  font-size: 24px;
  font-weight: 600;
}

main h4 {
  font-size: 36px;
  font-weight: 600;
  padding: 98px 0 49px 0;
  text-align: center;
}

main .pipe {
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  main .swiper-container {
    overflow: hidden;
  }
}

main .swiper-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main #occupation-detail {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto 100px;
  position: relative;
}

main #occupation-detail #occupation-tittle {
  width: 85%;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 13px;
  border-bottom: 1px solid #c8c8c8;
}

main #occupation-detail #occupation-tittle .pipe {
  font-size: 24px;
  padding-left: 30px;
}

main #occupation-detail #occupation-tittle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #occupation-detail #occupation-tittle ul li {
  font-size: 14px;
  padding-left: 30px;
}

main #occupation-detail #occupation-img {
  width: 650px;
  height: 400px;
}

main #occupation-detail #occupation-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main #occupation-detail #recruit-tittle {
  width: 43%;
  font-size: 30px;
  position: absolute;
  top: 100px;
  right: 0;
}

main #occupation-detail #recruit-overview {
  position: absolute;
  top: 250px;
  right: 0;
  background-color: rgba(228, 236, 248, 0.65);
  width: 950px;
  height: 322px;
}

main #occupation-detail #recruit-overview p {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  font-size: 16px;
  line-height: 1.8;
}

main #occupation-detail #recruit-overview p span {
  display: block;
  padding-top: 20px;
}

main .pickup {
  padding: 0 150px;
  margin: 0 auto 100px;
  max-width: 1440px;
}

@media screen and (max-width: 1280px) {
  main .pickup {
    padding: 0 75px;
  }
}

@media screen and (max-width: 1024px) {
  main .pickup {
    padding: 20px;
  }
}

main .pickup .pickup-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .pickup .pickup-box .pickup-block {
  width: 320px;
}

main .pickup .pickup-box .pickup-block h5 {
  font-weight: 600;
  padding-top: 10px;
}

main .pickup .pickup-box .pickup-block p {
  font-size: 14px;
  padding-top: 25px;
}

main #recruitment {
  padding: 50px 0 80px;
  background-color: #f7f7f7;
}

main #recruitment h3 {
  text-align: center;
  padding: 60px 0 13px;
  border-bottom: 1px solid #c8c8c8;
}

main #recruitment #recruitment-conditions, main #recruitment #recruitment-company {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto;
}

main #recruitment #recruitment-conditions ul, main #recruitment #recruitment-company ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #recruitment #recruitment-conditions ul li, main #recruitment #recruitment-company ul li {
  text-align: center;
  padding-top: 40px;
}

main #recruitment #recruitment-conditions ul li:last-of-type, main #recruitment #recruitment-company ul li:last-of-type {
  padding-top: 5px;
}

main #recruitment #recruitment-conditions ul li span, main #recruitment #recruitment-company ul li span {
  color: #003973;
  font-weight: 600;
}

main #recruitment #recruitment-conditions ul .pipe, main #recruitment #recruitment-company ul .pipe {
  width: 1%;
}

main #recruitment #recruitment-conditions ul .full, main #recruitment #recruitment-company ul .full {
  width: 100%;
}

main #recruitment #recruitment-conditions li {
  width: 15%;
}

main #recruitment #recruitment-conditions .long {
  width: 20%;
}

main #recruitment #recruitment-company li {
  width: 20%;
}

main #recruitment #recruitment-company .long {
  width: 24%;
}

main #recruitment a {
  display: block;
  margin: 70px auto 0;
  width: 850px;
  height: 80px;
  font-size: 28px;
  background-color: #9ed8a4;
  border-radius: 15px;
  position: relative;
  color: #FFFFFF;
  padding: 20px 140px;
  white-space: nowrap;
}

main #recruitment a::after {
  position: absolute;
  content: "";
  width: 39px;
  height: 20px;
  margin-left: 20px;
  top: 30px;
  border-bottom: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

main #flow {
  margin-bottom: 135px;
}

main #flow .flow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #flow .flow-box .flow-block {
  width: 160px;
  height: 140px;
  text-align: center;
  position: relative;
}

main #flow .flow-box .flow-block:last-of-type {
  margin-right: 30px;
}

main #flow .flow-box .flow-block div {
  position: absolute;
  top: 30%;
  left: 25%;
  background-color: rgba(228, 236, 248, 0.65);
  width: 160px;
  height: 140px;
}

main #flow .flow-box .flow-block div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-weight: 600;
  line-height: 1.2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #003973;
  font-size: 30px;
  text-align: left;
}

main #flow .flow-box .flow-block div p span {
  font-size: 14px;
}

main #flow .flow-box .flow-arrow {
  width: 1%;
}

main #recruit-ranking {
  padding: 0 85px 85px;
}

@media screen and (max-width: 1366px) {
  main #recruit-ranking {
    padding: 0 40px 85px;
  }
}

main #recruit-ranking h3 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 13px;
  border-bottom: 1px solid #c8c8c8;
}

main #recruit-ranking #ranking-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 30px 0;
}

@media screen and (max-width: 1024px) {
  main #recruit-ranking #ranking-box {
    padding: 30px 20px 0;
  }
}

main #recruit-ranking #ranking-box .contents-block {
  width: calc(100% / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

main #recruit-ranking #ranking-box .contents-block .contents-img {
  position: relative;
  padding-right: 20px;
}

main #recruit-ranking #ranking-box .contents-block .contents-img p {
  position: absolute;
  top: 0%;
  right: 76px;
  border: none 1px #000000;
  padding: 2px 8px;
  color: #FFFFFF;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number1 {
  background: #ac9600;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number2 {
  background: #9d9d9d;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number3 {
  background: #b28550;
}

main #recruit-ranking #ranking-box .contents-block .contents-img #ranking-number4 {
  background: #000000;
}

main #recruit-ranking #ranking-box .contents-block p {
  font-weight: 600;
  font-size: 16px;
}

main #recruit-ranking #ranking-box .contents-block p a {
  display: inline-block;
  padding-bottom: 10px;
}

main #recruit-ranking #ranking-box .contents-block p span {
  display: block;
  font-size: 14px;
}

main #recruit-ranking #ranking-box .contents-block:last-of-type {
  margin: 0;
}

main #search #recruit-search-tittle {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
}

main #search #recruit-search {
  display: none;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

main #search #recruit-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #search #recruit-search form select, main #search #recruit-search form input {
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  color: #888888;
  font-family: 'Klee One', cursive;
  font-size: 20px;
  padding-left: 30px;
  border: 2px solid #a4a4a4;
  border-radius: 10px;
}

main #search #recruit-search form .select-wrap {
  position: relative;
  border-radius: 10px;
  width: 32%;
}

main #search #recruit-search form .select-wrap::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 35px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 13px solid #888888;
  pointer-events: none;
}

main #search #recruit-search form .select-wrap select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}

main #search #recruit-search form input {
  width: 32%;
}

main #search #recruit-search form input::-webkit-input-placeholder {
  color: #888888;
}

main #search #recruit-search form input:-ms-input-placeholder {
  color: #888888;
}

main #search #recruit-search form input::-ms-input-placeholder {
  color: #888888;
}

main #search #recruit-search form input::placeholder {
  color: #888888;
}

main #search #recruit-search #search-submit {
  width: 100%;
  text-align: center;
}

main #search #recruit-search #search-submit input[type="submit"] {
  width: 32%;
  height: 63.51px;
  font-weight: 600;
  background-color: #657ccf;
  color: #FFFFFF;
  font-family: 'Klee One', cursive;
  font-size: 20px;
  padding-left: 30px;
  border: 2px solid #a4a4a4;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

main #search #recruit-search #search-box-tittle {
  width: 100%;
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
}

main #search #recruit-search #search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f7f7f7;
  margin: 30px 0;
}

main #search #recruit-search #search-box label {
  width: 14%;
  font-size: 18px;
  padding: 10px 0;
}

@media screen and (max-width: 1024px) {
  main #search #recruit-search #search-box label {
    width: 20%;
  }
}

main #search #search-button {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 40px;
  background-color: #f7f7f7;
  cursor: pointer;
}

main #search #search-button span {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background-color: #4a4a4a;
}

main #search #search-button span:nth-child(2) {
  top: 60%;
  width: 30px;
}

main #consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 96px 0 100px;
  font-weight: 600;
}

main #consultation #consultation-ba {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 42px;
}

main #consultation #consultation-ba::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #c8c8c8;
  height: 1px;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  main #consultation #consultation-ba #consultation-icon {
    padding-left: 15px;
  }
}

main #consultation #consultation-ba p {
  font-size: 20px;
  white-space: nowrap;
  padding-left: 30px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  main #consultation #consultation-ba p {
    white-space: normal;
    width: 555px;
  }
  main #consultation #consultation-ba p br {
    display: none;
  }
}

main #consultation #consultation-ba a {
  width: 274px;
  height: 80px;
  margin-bottom: 5px;
  margin-left: 53px;
  background-color: #9ed8a4;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  font-size: 16px;
  padding: 15px 30px;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  main #consultation #consultation-ba a {
    margin-left: 15px;
  }
}

main #consultation #consultation-ba a::after {
  position: absolute;
  content: "";
  width: 39px;
  height: 20px;
  margin-left: 20px;
  top: 30px;
  border-bottom: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  -webkit-transform: skew(35deg);
          transform: skew(35deg);
}

footer {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  margin-top: 180px;
}

footer::before {
  content: "";
  position: absolute;
  top: -30px;
  height: 2px;
  width: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #003973;
}

footer p {
  padding: 85px 0 25px;
}

footer li {
  padding-bottom: 15px;
}

@media screen and (max-width: 1280px) {
  footer li {
    font-size: 13px;
  }
}

footer #footer-container {
  margin: 0 20px;
  height: 100%;
  background-color: #003973;
  position: relative;
}

footer #footer-container #arrow {
  background-color: #fff;
  cursor: pointer;
}

footer #footer-container #arrow img {
  position: absolute;
  top: -9%;
  right: 21px;
  width: 35px;
  height: 101px;
}

@media screen and (max-width: 1024px) {
  footer #footer-container #arrow img {
    top: -9.3%;
  }
}

footer #footer-container #footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
  padding: 0 97px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}

@media screen and (max-width: 1280px) {
  footer #footer-container #footer-flex {
    padding: 0 30px;
  }
}

footer #footer-container #footer-flex #flex1 {
  padding-top: 50px;
}

footer #footer-container #footer-flex #flex1 #footer-icon {
  display: block;
  width: 37px;
  height: 21px;
  margin-bottom: 15px;
  padding-left: 70.5px;
}

footer #footer-container #footer-flex #flex1 #footer-logo {
  display: block;
  width: 177px;
  height: 20px;
}

footer #footer-container #footer-flex #flex1 p {
  padding: 45px 0 0;
}

footer #footer-container #footer-flex #flex1 #corporation {
  font-weight: 600;
}

footer #footer-container #footer-flex #flex1 #address {
  font-size: 12px;
  padding-top: 13px;
}

footer #footer-container #footer-flex .flex2 p {
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  footer #footer-container #footer-flex .flex2 p {
    font-size: 16px;
  }
}

footer #footer-container #footer-flex .flex2 #list2 {
  padding: 15px 0;
}

footer #footer-container #copyright {
  text-align: center;
  font-weight: 600;
  margin: 0 20px;
  padding: 73px 0 28px;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}
/*# sourceMappingURL=recruitdetail.css.map */