// min-width
$breakpoint-up: (
  'min-0': 'screen and (min-width: 240px)',
  'min-1': 'screen and (min-width: 280px)',
  'min-2': 'screen and (min-width: 321px)',
  'min-3': 'screen and (min-width: 361px)',
  'min-4': 'screen and (min-width: 376px)',
  'min-5': 'screen and (min-width: 401px)',
  'min-6': 'screen and (min-width: 415px)',
  'min-7': 'screen and (min-width: 421px)',
  'min-8': 'screen and (min-width: 541px)',
  'min-9': 'screen and (min-width: 601px)',
  'min-10': 'screen and (min-width: 769px)',
) !default;

// max-width
$breakpoint-down: (
  'max-0': 'screen and (max-width: 280px)',
  'max-1': 'screen and (max-width: 320px)',
  'max-2': 'screen and (max-width: 360px)',
  'max-3': 'screen and (max-width: 375px)',
  'max-4': 'screen and (max-width: 400px)',
  'max-5': 'screen and (max-width: 414px)',
  'max-6': 'screen and (max-width: 420px)',
  'max-7': 'screen and (max-width: 540px)',
  'max-8': 'screen and (max-width: 600px)',
  'max-9': 'screen and (max-width: 768px)',
  'max-10': 'screen and (max-width: 979px)',
) !default;

// mix-width
$breakpoint-mix: (
  'mix-0': 'screen and (min-width: 240px) and (max-width: 279px)', 
  'mix-1': 'screen and (min-width: 280px) and (max-width: 319px)',
  'mix-2': 'screen and (min-width: 320px) and (max-width: 359px)',
  'mix-3': 'screen and (min-width: 360px) and (max-width: 374px)',
  'mix-4': 'screen and (min-width: 375px) and (max-width: 400px)',
  'mix-5': 'screen and (min-width: 401px) and (max-width: 414px)',
  'mix-6': 'screen and (min-width: 415px) and (max-width: 419px)',
  'mix-7': 'screen and (min-width: 420px) and (max-width: 539px)',
  'mix-8': 'screen and (min-width: 540px) and (max-width: 599px)',
  'mix-9': 'screen and (min-width: 600px) and (max-width: 767px)',
  'mix-10': 'screen and (min-width: 768px) and (max-width: 979px)',
) !default;

// @mixinの定義
@mixin min($breakpoint: min-0) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin max($breakpoint: max-0) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin mix($breakpoint: mix-0) {
  @media #{map-get($breakpoint-mix, $breakpoint)} {
    @content;
  }
}

::-webkit-scrollbar{
  display: none;
  -webkit-appearance: none;
}

input[type="submit"],
input[type="button"]{
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

button,textarea,
input[type="text"],
input[type="password"],
input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.resp_pc {
  display: none;
}

.resp_sp {
  display: block;
  width: 100%;
}

$gray: #f7f7f7;
$navy: #003973;
$black: #4a4a4a;
$border: #c8c8c8;

body {

  @include max(max-5) {
    font-size: 10px;
  }
}


//ハンバーガーメニュー開いた時
.drawer-open {

  header {

    #firstview {

      #navigation {

        .toggle-btn {

          span:nth-of-type(1) {
            animation: active-btn-bar1 .75s forwards;
  
            @keyframes active-btn-bar1 {
              0% {
                transform: translateY(0) rotate(0);
              }
              50% {
                transform: translateY(20px) rotate(0);
              }
              100% {
                transform: translateY(20px) rotate(45deg);
              }
            }
          }
  
          span:nth-of-type(2) {
            opacity: 0;
          }
  
          span:nth-of-type(3) {
            animation: active-btn-bar03 .75s forwards;
  
            @keyframes active-btn-bar03 {
              0% {
                transform: translateY(0) rotate(0);
              }
              50% {
                transform: translateY(-20px) rotate(0);
              }
              100% {
                width: 100%;
                transform: translateY(-20px) rotate(-45deg);
              }
            }
          }
        }

        .drawer-nav {
          width: 100%;
          height: 100vh;
          margin-top: 100px;
          background: $gray;
          padding: 25px;

          .drawer-menu {
            width: 100%;

            .drawer-dropdown {
              border-bottom: 1px solid $border;

              .drawer-menu-item {
                display: block;
                position: relative;
                color: $black;
                font-size: 14px;
                padding: 1em;

                &:hover {
                  text-decoration: none;
                }

                .drawer-caret {
                  display: block;
                  width: 20px;
                  height: 20px;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  border: none;

                  &::before,&::after {
                    display: block;
                    content: '';
                    background-color: $black;
                    border-radius: 2px;
                    position: absolute;
                    width: 20px;
                    height: 1px;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                  }

                  &::before {
                    transform: translateY(-50%) rotate(90deg);
                    transition: 0.25s;
                  }

                  &::after {
                    transform: scale(1, 1);
                    transition: 0.25s;
                    transition-delay: 0.25s;
                  }
                }
              }
            }
            
            .open {

              .drawer-menu-item {
                
                .drawer-caret {

                  &::before {
                    transform: rotate(0);
                    transition-delay: 0.25s;
                  }

                  &::after {
                    transform: scale(0);
                    transition: 0.25s;
                  }
                }
              }

              .drawer-dropdown-menu {
                display: block;
                background: $gray;
                padding:  0 1em 25px;

                &-item {
                  display: unset;
                  color: $black;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .drawer-overlay {
    background-color: transparent;
  }
}

header {
  
  #firstview {
    display: block;

    #navigation {
      width: 100%;
      height: 105px;
      display: flex;
      justify-content: space-between;
      position: relative;

      h1 {
        align-items: center;
        flex-direction: row;
        margin: {
          top: 0;
          left: 20px;
        }
        position: relative;

        #header-icon {
          width: 42px;
          height: 27px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        #header-copy {
          position: absolute;
          top: 20px;
          left: 42px;

          @include max(max-5) {
            font-size: 10px;
          }
        }

        #header-logo {
          width: 176px;
          height: 19px;
          padding-left: 10px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      #ibaraki {
        position: absolute;
        top: 60px;
        margin-left: 20px;

        @include max(max-5) {
          font-size: 13px;
        }

        @include max(max-1) {
          font-size: 11px;
        }
      }

      .toggle-btn {
        position: relative;
        top: 30px;
        width: 60px;

        @include max(max-5) {
          top: 40px;
          width: 30px;          
        }

        span {
          position: absolute;
          right: 14px;
          height: 3px;
          border-radius: 2px;
          background: $navy;
        }

        span:nth-of-type(1) {
          top: 0; 
          width: 100%;
          animation: btn-bar1 .75s forwards;

          @keyframes btn-bar1 {
            0% {
              transform: translateY(20px) rotate(45deg);
            }
            50% {
              transform: translateY(20px) rotate(0);
            }
            100% {
              transform: translateY(0) rotate(0);
            }
          }
        }

        span:nth-of-type(2) {
          top: 20px;
          width: 70%;
          transition: all .25s .25s;
          opacity: 1;

          @include max(max-5) {
            top: 10px;
          }
        }

        span:nth-of-type(3) {
          top: 40px;
          width: 45%;
          animation: btn-bar3 .75s forwards;

          @keyframes btn-bar3 {
            0% {
              transform: translateY(-20px) rotate(-45deg);
            }
            50% {
              transform: translateY(-20px) rotate(0);
            }
            100% {
              transform: translateY(0) rotate(0);
            }
          }

          @include max(max-5) {
            top: 20px;
          }
        }
      }

      .drawer-nav {
        margin-top: 100px;
        background: $gray;

        .drawer-menu {
          width: 100%;

          .drawer-dropdown {
            border-bottom: 1px solid $border;

            .drawer-menu-item {
              display: block;
              position: relative;
              color: $black;
              font-size: 14px;
              padding: 1em;
            }

            .drawer-caret {
              display: block;
              width: 20px;
              height: 20px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              border: none;

              &::before,&::after {
                display: block;
                content: '';
                background-color: $black;
                border-radius: 2px;
                position: absolute;
                width: 20px;
                height: 1px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
              }

              &::before {
                transform: translateY(-50%) rotate(90deg);
                transition: 0.25s;
              }
            }
          }
        }
      }
    }
    
    #mainvisual {
      flex-direction: column;
      width: 100%;
      height: 100vh;

      #header-img1,#header-img2,#header-img3 {
        width: 100%;
        height: 33.3%;
      }

      #header-img1 {
        @keyframes SlideIn1 {
          0% {
              opacity: 0;
              transform: translateY(-64px);
          }
          100% {
              opacity: 1;
              transform: translateX(0);
          }
        }
      }

      #header-img2 {
        @keyframes SlideIn2 {
          0% {
              opacity: 0;
              transform: translateY(-64px);
          }
          100% {
              opacity: 1;
              transform: translateX(0);
          }
        }
      }

      #header-img3 {
        @keyframes SlideIn3 {
          0% {
              opacity: 0;
              transform: translateY(-64px);
          }
          100% {
              opacity: 1;
              transform: translateX(0);
          }
        }
      }
    }

    h2 {
      width: 20%;
      height: 100%;
      font-size: 34px;
      line-height: 1.1;
      top: 105px;
      left: 70%;

      @include max(max-8) {
        font-size: 25px;
      }

      @include max(max-1) {
        font-size: 17px;
      }

      span {
        width: 30%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    #readcopy {
      height: 19%;
      font-size: 18px;

      @include max(max-8) {
        font-size: 13px;
      }

      @include max(max-1) {
        font-size: 10px;
      }

      span {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);

        @include max(max-8) {
          width: 90%;
          top: 15%;
        }
      }
    }

    #scroll-nav {
      left: 50%;

      @include max(max-8) {
        padding-bottom: 50px;
      }

      @include max(max-1) {
        padding-bottom: 30px;
      }
    }
  }
}


main {

  h3 {
    font-size: 24px;
    
    @include max(max-5) {
      width: 90%;
      font-size: 15px;
    }
  }

  h4 {
    @include max(max-5) {
      font-size: 23px;
    }
  }

  #new {
    display: block;
    margin: 50px 0 80px;

    .new-category {
      width: 95%;
      margin:0 auto;
      margin-top: 50px;

      .new-contents {

        .contents-block {
          width: 50%;
          margin-right: 0;
          justify-content: center;

          @include max(max-5) {
            width: 100%;
            margin-bottom: 10px;
            align-items: center;
          }

          p {
            font-size: 16px;

            @include max(max-8) {
              font-size: 14px;
            }
          }

          span {
            font-size: 14px;

            @include max(max-8) {
              font-size: 11px;
            }
          }
        }

        .block-right {
          margin-bottom: 30px;

          @include max(max-5) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .decoration {
    width: 132px;

    @include max(max-8) {
      width: 20%;
    }
  }

  #recruit {
    margin-bottom: 90px;

    #search-background {
      height: 645px;

      @include max(max-5) {
        height: 520px;
      }
    }

    #search-box {
      top: 1.5%;
      left: 0;
      width: 100%;

      #search-tittle {
        margin-bottom: 42px;
        position: relative;
        z-index: 24;
        font-size: 18px;

        @include max(max-5) {
          font-size: 12px;
        }

        @include max(max-1) {
          font-size: 10px;
        }

        span {
          font-size: 28px;

          @include max(max-5) {
            font-size: 20px;
          }

          @include max(max-1) {
            font-size: 16px;
            padding-bottom: 5px;
          }
        }
      }
    
      #search-contents {
        position: relative;

        #contents-img1 {
          position: absolute;
          top: -140px;
          right: 0;
          margin-right: 0;
          z-index: 1;

          @include max(max-5) {
            width: 270px;
            top: -75px;
          }
        }

        form {
          height: 360px;
          position: relative;
          left: 5%;
          z-index: 2;

          @include max(max-5) {
            height: 260px;
          }

          .select-wrap {
            width: 480px;
            background-color: #FFFFFF;

            @include max(max-5) {
              width: 240px;
              height: 50px;
              &::after {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 10px solid #888888;
              }

              select {
                width: 240px;
                height: 50px;
                font-size: 13px;
                padding-left: 15px;
              }
            }
          }

          input[type="text"] {
            background-color: #FFFFFF;


            @include max(max-5) {
              width: 240px;
              height: 50px;
              font-size: 13px;
              padding-left: 15px;
            }
          } 

          input[type="submit"] {

            @include max(max-5) {
              width: 240px;
              height: 50px;
              font-size: 13px;
            }
          }
        }
      }
    }

    #consultation {
      margin: 100px 40px;

      #consultation-ba {
        padding: 50px 0 0;
        flex-wrap: wrap;
        align-items: center;

        @include max(max-8) {
          justify-content: space-between;

        }

        &::before {
          position: absolute;
          right: 0;
          top: 0;
          content: "";
          background-color: $border;
          height: 1px;
          width: 70%;
        }

        &::after {
          display: none;
        }

        #consultation-icon {
          padding: {
            left: 0;
            bottom: 40px;
          } 
        }

        p {
          width: 94%;
          font-size: 18px;
          white-space: normal;
          padding: {
            left: 20px;
            bottom: 40px;
          }
          
          @include max(max-8) {
            width: 80%;
          }
        }

        a {
          margin: 0 auto;
          width: 670px;
          font-size: 24px;
          padding: 20px 80px;

          @include max(max-8) {
            width: 272px;
            font-size: 14px;
            padding: 20px 40px;

            br {
              display: block;
            }
          }
        }
      }
    }

    .category-link {

      ul {

        @include max(max-8) {
          padding: 25px 0 0 0;
        }

        li {
          width: 30%;

          @include max(max-8) {
            font-size: 10px;
            padding-bottom: 5px;
          }

          @include max(max-4) {
            font-size: 10px;
            width: 50%;
          }
        }
      }
    }

    #recruit-ranking {
      padding-top: 50px;

      @include max(max-8) {
        padding: 50px 0 0;
      }

      #ranking-box {
        display: block;

        @include max(max-8) {
          padding: 30px 0 0;
        }

        .contents-block {
          width: 100%;
          justify-content: space-around;
          align-items: center;
          margin-right: 0;
          padding-bottom: 30px;
          
          .contents-img {
            width: 120px;
            height: 120px;
            padding: 0;

            @include max(max-8) {
              height: auto;
            }

            img {
              width: 100%;
              height: 100%;
            }

            p {
              padding: 15px 20.8px;
              right: 70px;

              @include max(max-8) {
                right: unset;
                padding: 2px 8px;
                font-size: 16px;
              }
            }
          }

          p {
            font-size: 20px;

            @include max(max-8) {
              font-size: 18px;
              padding-left: 10px;
            }

            @include max(max-1) {
              font-size: 16px;
            }

            span {
              font-size: 18px;

              @include max(max-8) {
                font-size: 16px;
              }  

              @include max(max-1) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  .pickup {

    .swiper-container {
      overflow: hidden;

      .pickup-box {
        padding: 0;

        .pickup-img {
          width: 320px;

          @include max(max-8) {
            width: 98%;
          }
        }

        .pickup-text {
          width: 320px;

          @include max(max-8) {
            width: 98%;
          }

          h5 {
            @include max(max-8) {
              font-size: 16px;
            }
          }

          p,.tagflex {
            @include max(max-8) {
              padding-top: 15px;
            }
            
            li {
              @include max(max-8) {
              font-size: 10px;
              }
            }
          }
        }
      }
    }
  }

  .category-link {
    padding-top: 45px;

    li {
      padding-bottom: 20px;
      text-align: center;
    }
  }

  #community {

    #community-background {
      height: 546px;

      @include max(max-8) {
        height: 360px;
      }

      .decoration {
        right: 10%;
      }
    }

    #community-box {
      top: 70px;
      left: 35px;

      @include max(max-8) {
        top: 40px;
      }

      #community-tittle {
        font-size: 18px;

        @include max(max-8) {
          margin-bottom: 43px;
        }

        @include max(max-5) {
          font-size: 12px;
          margin-bottom: 26px;
        }

        @include max(max-1) {
          font-size: 10px;
        }

        span {
          font-size: 28px;

          @include max(max-5) {
            font-size: 20px;
          }

          @include max(max-1) {
            font-size: 16px;
            padding-bottom: 5px;
          }
        }
      }

      #community-contents {
        position: relative;
        justify-content: flex-end;

        #contents-img2 {
          left: -135px;
          position: absolute;
          width: 510px;
          height: 245px;

          @include max(max-8) {
            left: -93px;
            width: 270px;
            height: 140px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        p {
          font-size: 16px;
          padding-left: 420px;
          line-height: 1.5;

          @include max(max-8) {
            font-size: 13px;
            padding-left: 205px;
          }

          @include max(max-5) {
            font-size: 10px;
            padding-left: 190px;
          }
        }
      }
    }

    .category-link {

      ul {
        @include max(max-8) {
          padding: 25px 0 0 0;
        }

        @include max(max-1) {
          flex-wrap: nowrap;
          flex-direction: column;
        }

        li {
          width: 50%;

          @include max(max-8) {
            font-size: 10px;
            padding-bottom: 5px;
          }
          
          @include max(max-1) {
            font-size: 10px;
            width: 100%;
          }
        }
      }
    }
  }

  #knowhow {

    #knowhow-box {
      width: 90%;

      .knowhow-block {
        width: 50%;
        padding-bottom: 25px;

        @include max(max-5) {
          width: 100%;
        }

        .knowhow-img {
          width: 100px;
          height: 100px;

          img {
            height: 100%;
          }
        }

        p {

          a {
            font-size: 16px;
            padding-bottom: 10px;

            @include mix(mix-8) {
              font-size: 14px;
            }
          }

          span {
            font-size: 11px;

            @include mix(mix-8) {
              font-size: 10px;
            }
          }
        }
      }
    }

    .viewmore {
      padding: 50px;
      padding-bottom: 0;
    }
  }

  .viewmore {
    padding: 90px;

    @include max(max-5) {
      font-size: 16px;
    }

    @include max(max-1) {
      font-size: 14px;
      padding: 50px 0;
    }
  }
}

footer {
  height: 100%;

  &::before {
    @include max(max-1) {
      top: -21px;
    }
  }

  p {
    padding-top: 30px;
  }

  #footer-container {
    margin: 0 10px;

    #arrow {

      img {
        top: -5%;
        right: 11px;

        @include max(max-8) {
          top: -4.7%;
        }

        @include max(max-5) {
          top: -5.2%;
          right: 4px;
        }

        @include max(max-1) {
          top: -3%;
          right: 4px;
          width: 22px;
          height: 66px;
        }
      }
    }

    #footer-flex {
      display: block;
      margin: 0 10px;
      padding: 0 88px;

      @include max(max-8) {
        padding: 0 23px;
      }

      @include max(max-5) {
      margin: 0 5px;  
      padding: 0 19px;
      border-left: 5px solid #fff;
      border-right: 5px solid #fff;
      }

      #flex1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 40px;

        h1 {
          width: 50%;

          @include max(max-8) {
            padding-top: 15px;
          }

          @include max(max-1) {
            padding-top: 25px;
          }
  
          #footer-icon {
          @include max(max-8) {
            width: 27px;
            height: 15px;
            margin: 0 60px;
            padding: 0;
          }

          @include max(max-1) {
            width: 20px;
            height: 10px;
            margin: 0 50px;          
          }

            img {
              @include max(max-8) {
                width: 100%;
                height: 100%;
              }
            }
          }

          #footer-logo {
            @include max(max-8) {
              width: 150px;
              padding-top: 10px;
            }

            @include max(max-1) {
              width: 112px;
              padding-top: 7px;
            }

            img {
              @include max(max-8) {
                width: 100%;
              }
            }
          }
        }

        p {
          padding-top: 40px;
          width: 50%;

          @include max(max-5) {
            font-size: 11px;

            br {
              display: block;
            }
          }
        }

        #corporation {
          width: 30%;

          @include max(max-5) {
            font-size: 10px;
          }
        }
      
        #address {
          padding-top: 42px;
          width: 70%;

          @include max(max-5) {
            font-size: 10px;
          }
        }
      }

      .flex2 {

        p {
          @include max(max-5) {
            font-size: 12px;
          }          
        }

        #list1 {
          display: flex;

          li {
            width: 25%;

            @include max(max-5) {
              font-size: 10px;
            }          
          }
        }

        #list2 {
          display: flex;
          padding-top: 0;

          li {
            width: 30%;

            @include max(max-5) {
              font-size: 10px;
            }          
          }
        }

        #list3 {
          display: flex;
          flex-wrap: wrap;

          li {
            width: 50%;

            @include max(max-5) {
              font-size: 10px;
            }          
          }
        }

        #list4 {
          display: flex;
          flex-wrap: wrap;

          li {
            padding-right: 50px;
            &:last-child {
              padding-right: 0;
            }

            @include max(max-5) {
              font-size: 10px;
              padding-right: 20px;
            }          

          }
        }
        #list5 {
          display: flex;
          flex-wrap: wrap;

          li {
            padding-right: 60px;

            @include max(max-5) {
              font-size: 10px;
              padding-right: 20px;
            }
          }
        }
      }
    }

    #copyright {
      margin: 0 10px;
      padding: 60px 0 28px;
      
      @include max(max-5) {
        font-size: 10px;
        margin: 0 5px;
        border-left: 5px solid #fff;
        border-right: 5px solid #fff;
      }
    }
  }
}