::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

button, textarea,
input[type="text"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.resp_pc {
  display: none;
}

.resp_sp {
  display: block;
  width: 100%;
}

@media screen and (max-width: 414px) {
  body {
    font-size: 10px;
  }
}

header #firstview {
  display: block;
}

header #firstview #navigation {
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header #firstview #navigation h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
}

header #firstview #navigation h1 #header-icon {
  width: 42px;
  height: 27px;
}

header #firstview #navigation h1 #header-icon img {
  width: 100%;
  height: 100%;
}

header #firstview #navigation h1 #header-copy {
  position: absolute;
  top: 20px;
  left: 42px;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation h1 #header-copy {
    font-size: 10px;
  }
}

header #firstview #navigation h1 #header-logo {
  width: 176px;
  height: 19px;
  padding-left: 10px;
}

header #firstview #navigation h1 #header-logo img {
  width: 100%;
  height: 100%;
}

header #firstview #navigation #ibaraki {
  position: absolute;
  top: 60px;
  margin-left: 20px;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation #ibaraki {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #navigation #ibaraki {
    font-size: 11px;
  }
}

@media screen and (max-width: 414px) {
  header #firstview #navigation button {
    top: 40px;
    width: 30px;
  }
}

header #firstview #navigation button span:nth-of-type(2) {
  top: 10px;
}

header #firstview #navigation button span:nth-of-type(3) {
  top: 20px;
}

header #firstview #navigation nav {
  display: none;
}

header #firstview #mainvisual {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

header #firstview #mainvisual #header-img1, header #firstview #mainvisual #header-img2, header #firstview #mainvisual #header-img3 {
  width: 100%;
  height: 33.3%;
}

@-webkit-keyframes SlideIn1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes SlideIn2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes SlideIn3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes SlideIn3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-64px);
            transform: translateY(-64px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header #firstview h2 {
  width: 20%;
  height: 100%;
  font-size: 34px;
  line-height: 1.1;
  top: 105px;
  left: 70%;
}

@media screen and (max-width: 414px) {
  header #firstview h2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview h2 {
    font-size: 17px;
  }
}

header #firstview h2 span {
  width: 30%;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header #firstview #readcopy {
  height: 19%;
  font-size: 18px;
}

@media screen and (max-width: 414px) {
  header #firstview #readcopy {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #readcopy {
    font-size: 10px;
  }
}

header #firstview #readcopy span {
  top: 25%;
}

@media screen and (max-width: 414px) {
  header #firstview #readcopy span {
    width: 90%;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

header #firstview #scroll-nav {
  left: 50%;
}

@media screen and (max-width: 414px) {
  header #firstview #scroll-nav {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #scroll-nav {
    padding-bottom: 30px;
  }
}

main h3 {
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  main h3 {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  main h4 {
    font-size: 26px;
  }
}

main #new {
  display: block;
  margin: 50px 0 80px;
}

main #new .new-category {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}

main #new .new-category .new-contents .contents-block {
  width: 50%;
  margin-right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 414px) {
  main #new .new-category .new-contents .contents-block {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main #new .new-category .new-contents .contents-block p {
  font-size: 16px;
}

@media screen and (max-width: 414px) {
  main #new .new-category .new-contents .contents-block p {
    font-size: 14px;
  }
}

main #new .new-category .new-contents .contents-block span {
  font-size: 14px;
}

@media screen and (max-width: 414px) {
  main #new .new-category .new-contents .contents-block span {
    font-size: 12px;
  }
}

main #new .new-category .new-contents .block-right {
  margin-bottom: 30px;
}

@media screen and (max-width: 414px) {
  main #new .new-category .new-contents .block-right {
    margin-bottom: 0;
  }
}

main .decoration {
  width: 15%;
}

main #recruit {
  margin-bottom: 90px;
}

main #recruit #search-background {
  height: 645px;
}

@media screen and (max-width: 414px) {
  main #recruit #search-background {
    height: 480px;
  }
}

main #recruit #search-box {
  top: 1.5%;
  left: 0;
  width: 100%;
}

main #recruit #search-box #search-tittle {
  margin-bottom: 42px;
  position: relative;
  z-index: 24;
  font-size: 18px;
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-tittle {
    font-size: 12px;
  }
}

main #recruit #search-box #search-tittle span {
  font-size: 28px;
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-tittle span {
    font-size: 20px;
  }
}

main #recruit #search-box #search-contents {
  position: relative;
}

main #recruit #search-box #search-contents #contents-img1 {
  position: absolute;
  top: -140px;
  right: 0;
  margin-right: 0;
  z-index: 1;
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-contents #contents-img1 {
    width: 270px;
    top: -75px;
  }
}

main #recruit #search-box #search-contents form {
  height: 360px;
  position: relative;
  left: 5%;
  z-index: 2;
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-contents form {
    height: 270px;
  }
}

main #recruit #search-box #search-contents form .select-wrap {
  width: 480px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-contents form .select-wrap {
    width: 240px;
    height: 50px;
  }
  main #recruit #search-box #search-contents form .select-wrap::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #888888;
  }
  main #recruit #search-box #search-contents form .select-wrap select {
    width: 240px;
    height: 50px;
    font-size: 13px;
    padding-left: 15px;
  }
}

main #recruit #search-box #search-contents form input[type="text"] {
  background-color: #FFFFFF;
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-contents form input[type="text"] {
    width: 240px;
    height: 50px;
    font-size: 13px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 414px) {
  main #recruit #search-box #search-contents form input[type="submit"] {
    width: 240px;
    height: 50px;
    font-size: 13px;
  }
}

main #recruit #consultation {
  margin: 100px 40px;
}

main #recruit #consultation #consultation-ba {
  padding: 50px 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 414px) {
  main #recruit #consultation #consultation-ba {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main #recruit #consultation #consultation-ba::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-color: #c8c8c8;
  height: 1px;
  width: 70%;
}

main #recruit #consultation #consultation-ba::after {
  display: none;
}

main #recruit #consultation #consultation-ba #consultation-icon {
  padding-bottom: 40px;
}

main #recruit #consultation #consultation-ba p {
  width: 94%;
  font-size: 18px;
  white-space: normal;
  padding-left: 20px;
  padding-bottom: 40px;
}

@media screen and (max-width: 414px) {
  main #recruit #consultation #consultation-ba p {
    width: 80%;
  }
}

main #recruit #consultation #consultation-ba a {
  margin: 0 auto;
  width: 670px;
  font-size: 24px;
  padding: 20px 80px;
}

@media screen and (max-width: 414px) {
  main #recruit #consultation #consultation-ba a {
    width: 272px;
    font-size: 14px;
    padding: 20px 40px;
  }
  main #recruit #consultation #consultation-ba a br {
    display: block;
  }
}

main #recruit .category-link li {
  width: 30%;
}

main #recruit #recruit-ranking {
  padding-top: 50px;
}

@media screen and (max-width: 414px) {
  main #recruit #recruit-ranking {
    padding: 0;
  }
}

main #recruit #recruit-ranking #ranking-box {
  display: block;
}

@media screen and (max-width: 414px) {
  main #recruit #recruit-ranking #ranking-box {
    padding: 30px 0 0;
  }
}

main #recruit #recruit-ranking #ranking-box .contents-block {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  padding-bottom: 30px;
}

main #recruit #recruit-ranking #ranking-box .contents-block .contents-img {
  width: 120px;
  height: 120px;
  padding: 0;
}

@media screen and (max-width: 414px) {
  main #recruit #recruit-ranking #ranking-box .contents-block .contents-img {
    height: auto;
  }
}

main #recruit #recruit-ranking #ranking-box .contents-block .contents-img img {
  width: 100%;
  height: 100%;
}

main #recruit #recruit-ranking #ranking-box .contents-block .contents-img p {
  padding: 15px 20.8px;
  right: 70px;
}

@media screen and (max-width: 414px) {
  main #recruit #recruit-ranking #ranking-box .contents-block .contents-img p {
    right: unset;
    padding: 2px 8px;
    font-size: 16px;
  }
}

main #recruit #recruit-ranking #ranking-box .contents-block p {
  font-size: 20px;
}

@media screen and (max-width: 414px) {
  main #recruit #recruit-ranking #ranking-box .contents-block p {
    font-size: 18px;
    padding-left: 10px;
  }
}

main #recruit #recruit-ranking #ranking-box .contents-block p span {
  font-size: 18px;
}

@media screen and (max-width: 414px) {
  main #recruit #recruit-ranking #ranking-box .contents-block p span {
    font-size: 16px;
  }
}

main .pickup .swiper-container {
  overflow: hidden;
}

main .pickup .swiper-container .pickup-box {
  padding: 0;
}

main .pickup .swiper-container .pickup-box .pickup-img {
  width: 320px;
}

@media screen and (max-width: 414px) {
  main .pickup .swiper-container .pickup-box .pickup-img {
    width: 98%;
  }
}

main .pickup .swiper-container .pickup-box .pickup-text {
  width: 320px;
}

@media screen and (max-width: 414px) {
  main .pickup .swiper-container .pickup-box .pickup-text {
    width: 98%;
  }
}

@media screen and (max-width: 414px) {
  main .pickup .swiper-container .pickup-box .pickup-text h5 {
    font-size: 16px;
  }
}

@media screen and (max-width: 414px) {
  main .pickup .swiper-container .pickup-box .pickup-text p, main .pickup .swiper-container .pickup-box .pickup-text .tagflex {
    padding-top: 15px;
  }
}

main .category-link {
  padding-top: 45px;
}

main .category-link li {
  padding-bottom: 20px;
  text-align: center;
}

main #community #community-background {
  height: 546px;
}

@media screen and (max-width: 414px) {
  main #community #community-background {
    height: 360px;
  }
}

main #community #community-background .decoration {
  right: 10%;
}

main #community #community-box {
  top: 70px;
  left: 35px;
}

@media screen and (max-width: 414px) {
  main #community #community-box {
    top: 40px;
  }
}

main #community #community-box #community-tittle {
  font-size: 18px;
}

@media screen and (max-width: 414px) {
  main #community #community-box #community-tittle {
    font-size: 12px;
    margin-bottom: 26px;
  }
}

main #community #community-box #community-tittle span {
  font-size: 28px;
}

@media screen and (max-width: 414px) {
  main #community #community-box #community-tittle span {
    font-size: 20px;
  }
}

main #community #community-box #community-contents {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #community #community-box #community-contents #contents-img2 {
  left: -135px;
  position: absolute;
  width: 510px;
  height: 245px;
}

@media screen and (max-width: 414px) {
  main #community #community-box #community-contents #contents-img2 {
    left: -93px;
    width: 270px;
    height: 140px;
  }
}

main #community #community-box #community-contents #contents-img2 img {
  width: 100%;
  height: 100%;
}

main #community #community-box #community-contents p {
  font-size: 16px;
  padding-left: 420px;
  line-height: 1.5;
}

@media screen and (max-width: 414px) {
  main #community #community-box #community-contents p {
    font-size: 10px;
    padding-left: 190px;
  }
}

main #community .category-link li {
  width: 50%;
}

main #knowhow #knowhow-box {
  width: 90%;
}

main #knowhow #knowhow-box .knowhow-block {
  width: 50%;
  padding-bottom: 25px;
}

@media screen and (max-width: 414px) {
  main #knowhow #knowhow-box .knowhow-block {
    width: 100%;
  }
}

main #knowhow #knowhow-box .knowhow-block .knowhow-img {
  width: 100px;
  height: 100px;
}

main #knowhow #knowhow-box .knowhow-block .knowhow-img img {
  height: 100%;
}

main #knowhow #knowhow-box .knowhow-block p a {
  font-size: 16px;
  padding-bottom: 10px;
}

main #knowhow #knowhow-box .knowhow-block p span {
  font-size: 11px;
}

main #knowhow .viewmore {
  padding: 50px;
  padding-bottom: 0;
}

main .viewmore {
  padding: 90px;
}

@media screen and (max-width: 414px) {
  main .viewmore {
    font-size: 16px;
  }
}

footer {
  height: 100%;
}

footer p {
  padding-top: 30px;
}

footer #footer-container {
  margin: 0 10px;
}

footer #footer-container #arrow img {
  top: -4.5%;
}

footer #footer-container #footer-flex {
  display: block;
  margin: 0 10px;
  padding: 0 10px;
}

footer #footer-container #footer-flex #flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-bottom: 40px;
}

footer #footer-container #footer-flex #flex1 h1 {
  width: 50%;
}

footer #footer-container #footer-flex #flex1 p {
  padding-top: 40px;
  width: 50%;
}

footer #footer-container #footer-flex #flex1 #corporation {
  width: 30%;
}

footer #footer-container #footer-flex #flex1 #address {
  padding-top: 42px;
  width: 70%;
}

footer #footer-container #footer-flex .flex2 #list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-container #footer-flex .flex2 #list1 li {
  width: 25%;
}

footer #footer-container #footer-flex .flex2 #list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

footer #footer-container #footer-flex .flex2 #list2 li {
  width: 30%;
}

footer #footer-container #footer-flex .flex2 #list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #footer-container #footer-flex .flex2 #list3 li {
  width: 50%;
}

footer #footer-container #footer-flex .flex2 #list4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-container #footer-flex .flex2 #list4 li {
  padding-right: 50px;
}

footer #footer-container #footer-flex .flex2 #list4 li:last-child {
  padding-right: 0;
}

footer #footer-container #footer-flex .flex2 #list5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #footer-container #footer-flex .flex2 #list5 li {
  padding-right: 60px;
}

footer #footer-container #copyright {
  margin: 0 10px;
  padding: 60px 0 28px;
}
/*# sourceMappingURL=respond.css.map */