::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

button, textarea,
input[type="text"],
input[type="password"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.resp_pc {
  display: none;
}

.resp_sp {
  display: block;
  width: 100%;
}

body {
  font-size: 14px;
}

@media screen and (max-width: 414px) {
  body {
    font-size: 10px;
  }
}

.drawer-open header #firstview #navigation .toggle-btn span:nth-of-type(1) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(20px) rotate(-45deg);
          transform: translateY(20px) rotate(-45deg);
}

@media screen and (max-width: 414px) {
  .drawer-open header #firstview #navigation .toggle-btn span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
            transform: translateY(10px) rotate(-45deg);
  }
}

.drawer-open header #firstview #navigation .toggle-btn span:nth-of-type(2) {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  width: 0;
}

.drawer-open header #firstview #navigation .toggle-btn span:nth-of-type(3) {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-20px) rotate(45deg);
          transform: translateY(-20px) rotate(45deg);
}

@media screen and (max-width: 414px) {
  .drawer-open header #firstview #navigation .toggle-btn span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
            transform: translateY(-10px) rotate(45deg);
  }
}

.drawer-open header #firstview #navigation .drawer-nav {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  background: #f7f7f7;
  padding: 25px;
}

@media screen and (max-width: 414px) {
  .drawer-open header #firstview #navigation .drawer-nav {
    margin-top: 75px;
  }
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu {
  width: 100%;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown {
  border-bottom: 1px solid #c8c8c8;
  position: relative;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-menu-item {
  display: block;
  color: #4a4a4a;
  font-size: 14px;
  padding: 1em;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-menu-item:hover {
  text-decoration: none;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 38px;
  border: none;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::before, .drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::after {
  content: '';
  background-color: #4a4a4a;
  border-radius: 2px;
  position: absolute;
  width: 20px;
  height: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .open .drawer-caret::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .open .drawer-caret::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .open .drawer-dropdown-menu {
  display: block;
  background: #f7f7f7;
  padding: 0 1em 25px;
}

.drawer-open header #firstview #navigation .drawer-nav .drawer-menu .open .drawer-dropdown-menu-item {
  display: unset;
  color: #4a4a4a;
  font-size: 12px;
}

.drawer-open .drawer-overlay {
  background-color: transparent;
}

header #firstview #navigation {
  width: 100%;
  height: 110px;
  margin: -10px;
  padding: 10px;
  position: fixed;
  z-index: 3;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation {
    height: 85px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #navigation {
    width: 320px;
    height: 75px;
  }
}

header #firstview #navigation h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation h1 {
    margin-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #navigation h1 {
    margin-left: 0;
  }
}

header #firstview #navigation h1 #header-icon {
  width: 42px;
  height: 27px;
}

header #firstview #navigation h1 #header-icon img {
  width: 100%;
  height: 100%;
}

header #firstview #navigation h1 #header-copy {
  position: absolute;
  top: -15px;
  left: 50px;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation h1 #header-copy {
    font-size: 10px;
  }
}

header #firstview #navigation h1 #header-logo {
  width: 176px;
  height: 19px;
  padding-left: 10px;
}

header #firstview #navigation h1 #header-logo img {
  width: 100%;
  height: 100%;
}

header #firstview #navigation .toggle-btn {
  position: relative;
  top: -20px;
  width: 60px;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation .toggle-btn {
    top: -10px;
    width: 30px;
  }
}

header #firstview #navigation .toggle-btn span {
  position: absolute;
  right: 14px;
  height: 3px;
  border-radius: 2px;
  background: #003973;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation .toggle-btn span {
    right: 10px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #navigation .toggle-btn span {
    right: 5px;
  }
}

header #firstview #navigation .toggle-btn span:nth-of-type(1) {
  top: 0;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header #firstview #navigation .toggle-btn span:nth-of-type(2) {
  top: 20px;
  width: 70%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation .toggle-btn span:nth-of-type(2) {
    top: 10px;
  }
}

header #firstview #navigation .toggle-btn span:nth-of-type(3) {
  top: 40px;
  width: 45%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation .toggle-btn span:nth-of-type(3) {
    top: 20px;
  }
}

header #firstview #navigation .drawer-nav {
  margin-top: 90px;
  background: #f7f7f7;
}

@media screen and (max-width: 414px) {
  header #firstview #navigation .drawer-nav {
    margin-top: 75px;
  }
}

header #firstview #navigation .drawer-nav .drawer-menu {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header #firstview #navigation .drawer-nav .drawer-menu::before {
  display: none;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown {
  border-bottom: 1px solid #c8c8c8;
  line-height: 3em;
  position: relative;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-menu-item {
  display: block;
  color: #4a4a4a;
  font-size: 14px;
  padding: 1em;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 38px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::before, header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::after {
  content: '';
  background-color: #4a4a4a;
  border-radius: 2px;
  position: absolute;
  width: 20px;
  height: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

header #firstview #navigation .drawer-nav .drawer-menu .drawer-dropdown .drawer-caret::before {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

header #firstview #mainvisual {
  margin-top: 100px;
  height: 140px;
}

@media screen and (max-width: 414px) {
  header #firstview #mainvisual {
    margin-top: 75px;
    height: 90px;
  }
}

@media screen and (max-width: 320px) {
  header #firstview #mainvisual {
    margin-top: 65px;
    height: 65px;
  }
}

header #firstview #mainvisual #header-img img {
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}

@media screen and (max-width: 414px) {
  header #firstview #mainvisual h2 {
    height: 30px;
    width: 170px;
    padding: 5px;
  }
  header #firstview #mainvisual h2 span {
    font-size: 14px;
  }
}

main h3 {
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  main h3 {
    font-size: 22px;
    margin-top: 55px;
  }
}

main form {
  padding: 30px;
}

@media screen and (max-width: 414px) {
  main form {
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  main form {
    padding: 10px;
  }
}

main form .form-item {
  padding: 30px;
}

@media screen and (max-width: 414px) {
  main form .form-item {
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  main form .form-item {
    padding: 10px;
  }
}

main form .form-item h4 {
  width: 50%;
}

@media screen and (max-width: 414px) {
  main form .form-item h4 {
    font-size: 18px;
  }
}

main form .form-item .mandatory, main form .form-item .option {
  width: 50%;
  text-align: right;
}

main form .form-item .check {
  padding-left: 0;
}

@media screen and (max-width: 414px) {
  main form .form-item label {
    font-size: 14px;
  }
}

main form .form-item input, main form .form-item select, main form .form-item textarea {
  width: 100%;
  margin-top: 30px;
}

@media screen and (max-width: 600px) {
  main form .form-item input, main form .form-item select, main form .form-item textarea {
    margin-top: 15px;
    font-size: 14px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 414px) {
  main form .form-item input, main form .form-item select, main form .form-item textarea {
    font-size: 10px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 414px) {
  main form .form-item textarea {
    height: 155px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 414px) {
  main form .item1 input, main form .item2 input, main form .item4 input, main form .item5 input {
    height: 43px;
  }
}

main form .item3 .mandatory {
  margin-bottom: 0;
}

main form .item3 #adress {
  width: 100%;
}

main form .item3 #adress input, main form .item3 #adress select {
  margin: 11px;
}

@media screen and (max-width: 414px) {
  main form .item3 #adress input, main form .item3 #adress select {
    height: 43px;
    width: 170px;
  }
}

@media screen and (max-width: 600px) {
  main form .item3 #adress #prefectures label {
    width: 20%;
  }
}

main form .item3 #adress #prefectures .select-wrap::after {
  top: 40.56px;
  right: 25px;
}

@media screen and (max-width: 414px) {
  main form .item3 #adress #prefectures .select-wrap::after {
    top: 32.56px;
    right: 20px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 11px solid #888888;
  }
}

main form .item3 #adress #prefectures .select-wrap select {
  margin-left: 5px;
}

@media screen and (max-width: 414px) {
  main form .item3 #adress #prefectures .select-wrap select {
    margin-left: 0;
  }
}

@media screen and (max-width: 375px) {
  main form .item3 #adress #prefectures .select-wrap select {
    margin-left: 9px;
  }
}

@media screen and (max-width: 320px) {
  main form .item3 #adress #prefectures .select-wrap select {
    margin-left: 16px;
  }
}

main form .item3 #adress #housenumber {
  margin-left: 0;
  width: 100%;
}

main form .item6 h4, main form .item6 .mandatory {
  margin-bottom: 0;
}

main form .item7 h4 {
  width: 60%;
}

main form .item7 .option {
  width: 40%;
}

main form .item7 .select-wrap::after {
  top: 70%;
}

@media screen and (max-width: 600px) {
  main form .item7 .select-wrap::after {
    top: 60%;
  }
}

@media screen and (max-width: 414px) {
  main form .item7 .select-wrap::after {
    top: 65%;
    right: 20px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 11px solid #888888;
  }
}

@media screen and (max-width: 414px) {
  main form .item7 .select-wrap select {
    height: 43px;
    margin-right: 10px;
  }
}

main form #applybutton {
  width: 100%;
}

@media screen and (max-width: 375px) {
  main form #applybutton {
    margin-top: 70px;
  }
}

main form #applybutton::after {
  right: 185px;
}

@media screen and (max-width: 600px) {
  main form #applybutton::after {
    right: 65px;
  }
}

@media screen and (max-width: 414px) {
  main form #applybutton::after {
    right: 45px;
    top: 29px;
  }
}

@media screen and (max-width: 375px) {
  main form #applybutton::after {
    right: 25px;
    top: 20px;
  }
}

main form #applybutton input {
  width: 100%;
  font-size: 24px;
}

@media screen and (max-width: 414px) {
  main form #applybutton input {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  main form #applybutton input {
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  main form #applybutton input {
    font-size: 16px;
  }
}

footer {
  height: 100%;
}

@media screen and (max-width: 320px) {
  footer {
    margin-top: 140px;
  }
}

@media screen and (max-width: 320px) {
  footer::before {
    top: -21px;
  }
}

footer p {
  padding-top: 30px;
}

footer #footer-container {
  margin: 0 10px;
}

footer #footer-container #arrow img {
  top: -5%;
  right: 11px;
}

@media screen and (max-width: 600px) {
  footer #footer-container #arrow img {
    top: -4.7%;
  }
}

@media screen and (max-width: 414px) {
  footer #footer-container #arrow img {
    top: -5.2%;
    right: 4px;
  }
}

@media screen and (max-width: 320px) {
  footer #footer-container #arrow img {
    top: -3.4%;
    right: 4px;
    width: 22px;
    height: 66px;
  }
}

footer #footer-container #footer-flex {
  display: block;
  margin: 0 10px;
  padding: 0 88px;
}

@media screen and (max-width: 600px) {
  footer #footer-container #footer-flex {
    padding: 0 23px;
  }
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex {
    margin: 0 5px;
    padding: 0 19px;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
  }
}

@media screen and (max-width: 375px) {
  footer #footer-container #footer-flex {
    padding: 0 10px;
  }
}

@media screen and (max-width: 320px) {
  footer #footer-container #footer-flex {
    padding: 0 5px;
  }
}

footer #footer-container #footer-flex #flex1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding-bottom: 40px;
}

@media screen and (max-width: 320px) {
  footer #footer-container #footer-flex #flex1 {
    padding: 25px 0 20px;
  }
}

footer #footer-container #footer-flex #flex1 h1 {
  width: 50%;
}

@media screen and (max-width: 600px) {
  footer #footer-container #footer-flex #flex1 h1 {
    padding-top: 15px;
  }
}

@media screen and (max-width: 320px) {
  footer #footer-container #footer-flex #flex1 h1 {
    padding-top: 25px;
  }
}

@media screen and (max-width: 600px) {
  footer #footer-container #footer-flex #flex1 h1 #footer-icon {
    width: 27px;
    height: 15px;
    margin: 0 60px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  footer #footer-container #footer-flex #flex1 h1 #footer-icon {
    width: 20px;
    height: 10px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 600px) {
  footer #footer-container #footer-flex #flex1 h1 #footer-icon img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  footer #footer-container #footer-flex #flex1 h1 #footer-logo {
    width: 150px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  footer #footer-container #footer-flex #flex1 h1 #footer-logo {
    width: 112px;
    padding-top: 7px;
  }
}

@media screen and (max-width: 600px) {
  footer #footer-container #footer-flex #flex1 h1 #footer-logo img {
    width: 100%;
  }
}

footer #footer-container #footer-flex #flex1 p {
  padding-top: 40px;
  width: 50%;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex #flex1 p {
    font-size: 11px;
  }
  footer #footer-container #footer-flex #flex1 p br {
    display: block;
  }
}

footer #footer-container #footer-flex #flex1 #corporation {
  width: 30%;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex #flex1 #corporation {
    font-size: 10px;
  }
}

footer #footer-container #footer-flex #flex1 #address {
  padding-top: 42px;
  width: 70%;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex #flex1 #address {
    font-size: 10px;
  }
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex .flex2 p {
    font-size: 12px;
  }
}

footer #footer-container #footer-flex .flex2 #list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #footer-container #footer-flex .flex2 #list1 li {
  width: 25%;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex .flex2 #list1 li {
    font-size: 10px;
  }
}

footer #footer-container #footer-flex .flex2 #list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}

footer #footer-container #footer-flex .flex2 #list2 li {
  width: 30%;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex .flex2 #list2 li {
    font-size: 10px;
  }
}

footer #footer-container #footer-flex .flex2 #list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #footer-container #footer-flex .flex2 #list3 li {
  width: 50%;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex .flex2 #list3 li {
    font-size: 10px;
  }
}

footer #footer-container #footer-flex .flex2 #list4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #footer-container #footer-flex .flex2 #list4 li {
  padding-right: 50px;
}

footer #footer-container #footer-flex .flex2 #list4 li:last-child {
  padding-right: 0;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex .flex2 #list4 li {
    font-size: 10px;
    padding-right: 20px;
  }
}

footer #footer-container #footer-flex .flex2 #list5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #footer-container #footer-flex .flex2 #list5 li {
  padding-right: 60px;
}

@media screen and (max-width: 414px) {
  footer #footer-container #footer-flex .flex2 #list5 li {
    font-size: 10px;
    padding-right: 20px;
  }
}

footer #footer-container #copyright {
  margin: 0 10px;
  padding: 60px 0 28px;
}

@media screen and (max-width: 414px) {
  footer #footer-container #copyright {
    font-size: 10px;
    margin: 0 5px;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
  }
}
/*# sourceMappingURL=resp_communitypublishedform.css.map */