// min-width
$breakpoint-up: (
  'min-0': 'screen and (min-width: 240px)',
  'min-1': 'screen and (min-width: 280px)',
  'min-2': 'screen and (min-width: 321px)',
  'min-3': 'screen and (min-width: 361px)',
  'min-4': 'screen and (min-width: 376px)',
  'min-5': 'screen and (min-width: 401px)',
  'min-6': 'screen and (min-width: 415px)',
  'min-7': 'screen and (min-width: 421px)',
  'min-8': 'screen and (min-width: 541px)',
  'min-9': 'screen and (min-width: 601px)',
  'min-10': 'screen and (min-width: 769px)',
) !default;

// max-width
$breakpoint-down: (
  'max-0': 'screen and (max-width: 280px)',
  'max-1': 'screen and (max-width: 320px)',
  'max-2': 'screen and (max-width: 360px)',
  'max-3': 'screen and (max-width: 375px)',
  'max-4': 'screen and (max-width: 400px)',
  'max-5': 'screen and (max-width: 414px)',
  'max-6': 'screen and (max-width: 420px)',
  'max-7': 'screen and (max-width: 540px)',
  'max-8': 'screen and (max-width: 600px)',
  'max-9': 'screen and (max-width: 768px)',
  'max-10': 'screen and (max-width: 979px)',
) !default;

// mix-width
$breakpoint-mix: (
  'mix-0': 'screen and (min-width: 240px) and (max-width: 279px)', 
  'mix-1': 'screen and (min-width: 280px) and (max-width: 319px)',
  'mix-2': 'screen and (min-width: 320px) and (max-width: 359px)',
  'mix-3': 'screen and (min-width: 360px) and (max-width: 374px)',
  'mix-4': 'screen and (min-width: 375px) and (max-width: 400px)',
  'mix-5': 'screen and (min-width: 401px) and (max-width: 414px)',
  'mix-6': 'screen and (min-width: 415px) and (max-width: 419px)',
  'mix-7': 'screen and (min-width: 420px) and (max-width: 539px)',
  'mix-8': 'screen and (min-width: 540px) and (max-width: 599px)',
  'mix-9': 'screen and (min-width: 600px) and (max-width: 767px)',
  'mix-10': 'screen and (min-width: 768px) and (max-width: 979px)',
) !default;

// @mixinの定義
@mixin min($breakpoint: min-0) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin max($breakpoint: max-0) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin mix($breakpoint: mix-0) {
  @media #{map-get($breakpoint-mix, $breakpoint)} {
    @content;
  }
}

::-webkit-scrollbar{
  display: none;
  -webkit-appearance: none;
}

input[type="submit"],
input[type="button"]{
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

button,textarea,
input[type="text"],
input[type="password"],
input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}