@import "resets/normalize" , "resets/reset_local" , "resets/typography";

// min-width
$breakpoint-up: (
  'min-1': 'screen and (min-width: 980px)',
  'min-2': 'screen and (min-width: 1025px)',
  'min-3': 'screen and (min-width: 1281px)',
  'min-4': 'screen and (min-width: 1367px)',
  'min-5': 'screen and (min-width: 1441px)',
  'min-6': 'screen and (min-width: 1537px)',
  'min-7': 'screen and (min-width: 1601px)',
  'min-8': 'screen and (min-width: 1921px)',
) !default;

// max-width
$breakpoint-down: (
  'max-1': 'screen and (max-width: 1024px)',
  'max-2': 'screen and (max-width: 1280px)',
  'max-3': 'screen and (max-width: 1366px)',
  'max-4': 'screen and (max-width: 1440px)',
  'max-5': 'screen and (max-width: 1536px)',
  'max-6': 'screen and (max-width: 1600px)',
  'max-7': 'screen and (max-width: 1920px)',
) !default;

// mix-width
$breakpoint-mix: (
  'mix-1': 'screen and (min-width: 980px) and (max-width: 1023px)',
  'mix-2': 'screen and (min-width: 1024px) and (max-width: 1279px)',
  'mix-3': 'screen and (min-width: 1280px) and (max-width: 1365px)',
  'mix-4': 'screen and (min-width: 1366px) and (max-width: 1439px)',
  'mix-5': 'screen and (min-width: 1440px) and (max-width: 1535px)',
  'mix-6': 'screen and (min-width: 1536px) and (max-width: 1599px)',
) !default;

// @mixinの定義
@mixin min($breakpoint: min-1) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin max($breakpoint: max-1) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

@mixin mix($breakpoint: mix-1) {
  @media #{map-get($breakpoint-mix, $breakpoint)} {
    @content;
  }
}

@mixin basefont(){
  font-family: 'Klee One', cursive;}

// @mediaの用法
// #xxx {
//    @include min(min-1) { 最小値を表示。（変数）で設定値
//  }
//    @include max(max-1) { 最大値を表示。（変数）で設定値
//  }
//    @include min-max(mix-1) { 最大ー最大値を表示。（変数）で設定値
//  }
// }

.resp_pc{
  display: block;
}

.resp_sp{
  display: none;
}

.cf{
  clear: both;
}

$gray: #f7f7f7;
$navy: #003973;
$blue: #408cff;
$red: #c80000;
$aqua: #e4ecf8;
$black: #4a4a4a;
$border: #c8c8c8;

body {
  font-family: 'Klee One', cursive;
  font-size: 14px;
  color: $black;
}

*:focus {
  outline: none;
}

.container {
  padding-bottom: 0px;
  height: 100%;
}

/*トップページヘッダー*/
.toppage-header {
  height: 100vh;
  overflow: hidden;

  #firstview {
    display: flex;
    height: 100vh;
    position: relative;

    #navigation {
      width: 20%;
      text-align: center;
      background-color: $gray;

      h1 {
        margin-top: 45px;
        display: flex;
        flex-direction: column;

        #header-logo {
          width: 90%;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }

        #header-copy {
          color: $navy;
          font-size: 12px;
          padding-bottom: 5px;
        }
      }

      #ibaraki {
        margin-top: 10px;
      }
      
      .drawer-nav {
        font-size: 16px;
        margin-top: 40px;
        font-weight: 600;

        .drawer-menu {
          display: inline-block;
          text-align: left;

          .drawer-dropdown {
            white-space: nowrap;
            line-height: 3em;

            .dropdown-menu {
              display: none;
            }
          }
        }
      }
    }

    #mainvisual {
      width: 80%;
      display: flex;

      #header-img1,#header-img2,#header-img3 {
        width: 33.3%;

        img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        }
      }

      #header-img1 {
        animation: SlideIn1 1s;
        animation-delay: 0.5s;
        animation-fill-mode:forwards;
        opacity: 0;

        @keyframes SlideIn1 {
            0% {
                opacity: 0;
                transform: translateX(64px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
      }

      #header-img2 {
        animation: SlideIn2 1s;
        animation-delay: 1s;
        animation-fill-mode:forwards;
        opacity: 0;

        @keyframes SlideIn2 {
            0% {
                opacity: 0;
                transform: translateX(64px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
      }

      #header-img3 {
        animation: SlideIn3 1s;
        animation-delay: 1.5s;
        animation-fill-mode:forwards;
        opacity: 0;

        @keyframes SlideIn3 {
            0% {
                opacity: 0;
                transform: translateX(64px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
      }
    }
  }

  h2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;

    span {
      position: absolute;
      top: 25%;
      transform: translateY(-50%);
      left: 5%;
    }
  }

  #readcopy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17.5%;
    background-color: rgba($color: #FFFFFF, $alpha: 0.7);
    font-size: 24px;
    text-align: right;
    line-height: 1.28em;

    span {
      width: 60%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;

      @include max(max-2) {
        right: 1%;
      }
    }
  }

  #scroll-nav {
    position: absolute;
    bottom: 0;
    left: 10%;
    transform: translateX(-50%);
    padding-bottom: 70px;

    span {
      position: relative;
      color: $navy;
      padding-bottom: 70px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 1px;
        height: 59px;
        margin: auto;
        background-color: $navy;
      }
    }
  }
}

/*下層ページヘッダー*/
.underpage-header {

  #firstview {
    background-color: $gray;
    padding: 10px;

    #navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $gray;
      height: 130px;

      h1 {
        display: flex;
        flex-direction: column;
        text-align: center;

        #header-logo {
          width: 90%;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }

        #header-copy {
          color: $navy;
          font-size: 12px;
          padding-bottom: 5px;
        }
      }

      .drawer-nav {
        font-size: 16px;
        margin-right: 40px;
        font-weight: 600;


        .drawer-menu {
          display: flex;
          position: relative;
          padding-top: 20px;

          &::before {
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            background-color: $black;
            height: 1px;
            width: 85%;
          }

          .drawer-dropdown {
            white-space: nowrap;
            padding-right: 40px;

            @include max(max-1) {
              padding-right: 20px;
            }

            &:last-child {
              padding-right: 0;
            }

            .dropdown-menu {
              display: none;
            }
          }
        }
      }
    }
    
    #mainvisual {
        background-color: rgba($color: $blue, $alpha: 0.1);
        height: 170px;
        position: relative;

      #header-img {
        height: 100%;
        width: 87%;
        float: right;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        /*求人*/
        #img-recruit {
          object-position: 50% 58%;
        }

        /*コミュニティ*/
        #img-community {
          object-position: 50% 68%;
        }

        /*ノウハウ*/
        #img-knowhow {
          object-position: 50% 80%;
        }

        /*運営会社*/
        #img-company {
          object-position: 50% 56%;
        }

        /*プライバシーポリシー*/
        #img-privacypolicy {
          object-position: 50% 52%;
        }
      }

      h2 {
        position: absolute;
        top: 50%;
        left: 1%;
        transform: translateY(-50%);
        background-color: rgba($color: #FFFFFF, $alpha: 0.4);
        height: 60px;
        width: 280px;
        padding: 12px 20px;

        span {
          color: $navy;
          font-size: 22px;
          font-weight: 600;
        }
      }
    }
  }
}

/*共通部分*/

/*新着求人コミュニティ*/
#new {
  display: flex;
  margin: 50px 27px 100px;

  .new-category {
    width: 50%;
    margin: 0 60px;

    @include max(max-3) {
      margin: 0 30px;
    }

    .new-icon {
      text-align: center;
    }

    .new-contents {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 30px;

      .block-right {
        margin: 0 0 20px;
      }
    }
  }
}

/*人気求人ランキング*/
#recruit-ranking {
  background-color: $gray;
  padding: 105px 85px 0;

  @include max(max-3) {
    padding: 105px 40px 0;
  }
    
  #ranking-box {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 30px 0;

    @include max(max-1) {
      padding: 30px 20px 0;
    }

    .contents-block {

      .contents-img {
        position: relative;

        p {
          position: absolute;
          top: 0;
          left: 0;
          border: none;
          padding: 2px 8px;
          color: #FFFFFF;
        }

        #ranking-number1 {
          background: #ac9600;
        }

        #ranking-number2 {
          background: #9d9d9d;
        }

        #ranking-number3 {
          background: #b28550;
        }

        #ranking-number4 {
          background: #000000;
        }
      }

      &:last-of-type {
        margin: 0;
      }
    }    
  }
}

/*求人コミュニティカテゴリリンク*/
/*共通スタイル*/
.category-link {
  background-color: $gray;
  padding: 85px 85px 0;

  @include max(max-3) {
    padding: 85px 45px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    justify-content: space-between;

    li {
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      color: #657ccf;
      text-align: center;
    }
  }
}

/*コミュニティカテゴリリンク*/
.category-link1 {
      
  li {
    width: 20%;
  }
}

/*求人カテゴリリンク*/
.category-link2 {

  li {
    width: 16%;

    @include max(max-1) {
      width: 22%;
    }
  }
}

/*インフォメーション*/
#consultation {
  display: flex;
  justify-content: center;
  margin: 50px 0 100px;
  font-weight: 600;

  #consultation-ba{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 42px;

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      content: "";
      background-color: $border;
      height: 1px;
      width: 80%;
    }

    #consultation-icon {
      @include max(max-1) {
        padding-left: 15px;
      }
    }

    p {
      font-size: 20px;
      white-space: nowrap;
      padding: {
        left: 30px;
        bottom: 5px;
      }

      @include max(max-1) {
        white-space: normal;
        width: 555px;
        
        br {
          display: none;
        }
      }
    }

    a {
      width: 274px;
      height: 80px;
      margin: {
        bottom: 5px;
        left: 53px;
      }
      background-color: #9ed8a4;
      border-radius: 15px;  
      position: relative;
      display: inline-block;
      color: #FFFFFF;
      font-size: 16px;
      padding: 15px 30px;
      white-space: nowrap;

      @include max(max-1) {
        margin-left: 15px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 39px;
        height: 20px;
        margin-left: 20px;
        top: 30px;
        border-bottom: 2px solid #FFFFFF;
        border-right: 2px solid #FFFFFF;
        transform: skew(35deg);
      }
    }
  }
}  

/*検索条件絞り込み*/
#search {
  
  #recruit-search-tittle {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
  }

  #recruit-search {
    display: none;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;


    form {
      display: flex;
      margin-top: 30px;
      justify-content: space-between;

      select,input {
        width: 100%;
        height: 70px;
        background-color: #FFFFFF;
        color: #888888;
        font-family: 'Klee One', cursive;
        font-size: 20px;
        padding-left: 30px;
        border: 2px solid #a4a4a4;
        border-radius: 10px;
      }

      .select-wrap  {
        position: relative;
        border-radius: 10px;
        width: 32%;

        &::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 35px;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-top: 13px solid #888888;
          pointer-events: none;       
        }

        select {
          appearance: none;
          position: relative;
          cursor : pointer;
        }
      }

      input {
        width: 32%;

        &::placeholder {
          color: #888888;
        }
      }
    }

    #search-submit {
      width: 100%;
      text-align: center;

      input[type="submit"] {
        width: 32%;
        height: 63.51px;
        font-weight: 600;
        background-color: #657ccf;
        color: #FFFFFF;
        font-family: 'Klee One', cursive;
        font-size: 20px;
        padding-left: 30px;
        border: 2px solid #a4a4a4;
        border-radius: 10px;
        padding: 0;
        cursor : pointer;
      }
    }

    #search-box-tittle {
      width: 100%;
      margin-top: 40px;
      font-size: 20px;
      text-align: center;
    }

    #search-box {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background-color: $gray;
      margin: 30px 0;

      label {
        width: 14%;
        font-size: 18px;
        padding: 10px 0;

        @include max(max-1) {
          width: 20%;

          &:last-of-type {
            display: none;
          }
        }
      }
    }
  }

  #search-button {
    position: relative;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    background-color: $gray;
    cursor: pointer;

    span {
      position: absolute;
      top: 45%;
      left: 50%;
      transform:translateX(-50%);
      width: 60px;
      height: 1px;
      background-color: $black;

      &:nth-child(2) {
        top: 60%;
        width: 30px;
      }
    }
  }
}

/*求人コミュニティ検索結果一覧*/
.searchresults {
  padding: 0 150px;

  @include max(max-2) {
    padding: 0 75px;
  }

  @include max(max-1) {
    padding: 20px;
  }
  
  .searchresults-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .searchresults-block {
      width: 320px;

      h5 {
        font-size: 18px;
        font-weight: 600;
        padding-top: 10px;
      }

      p {
        padding-top: 25px;
      }

      .tagflex {
        display: flex;
        padding: 25px 0 50px;

        li {
          font-size: 12px;
          padding-right: 22px;
        }
      }
    }
  }

  .spanflex {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: 700;
    padding: 50px 0 90px 0;
  
    li {
        padding: 0 22px;
        font-size: 30px; 
        color: #657ccf;

        &:first-child {
          a {
            color: #4a4a4a;
            border-bottom: solid 1px #4a4a4a;
          }
        }
        
        a:hover {
          color: #4a4a4a;
          border-bottom: solid 1px #4a4a4a;
      }
    }    
  }    
}

/*応募フロー*/
#flow {
  max-width: 1600px;
  margin: 0 auto 135px;

  .flow-box {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .flow-block {
          width: 160px;
          height: 140px;
          text-align: center;
          position: relative;

          @include max(max-3) {
              width: 240px;
          }

          @include mix(mix-2) {
              width: 120px;
              height: 100px;

              img {
                  width: 100%;
                  height: 100%;
              }
          }

          &:last-of-type {
              margin-right: 30px;
          }

          div {
              position: absolute;
              top: 30%;
              left: 25%;
              background-color: rgba($color: $aqua, $alpha: 0.65);
              width: 160px;
              height: 140px;

              @include mix(mix-2) {
                  width: 120px;
                  height: 100px;
              }

              p {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translateX(-50%) translateY(-50%);
                  font-weight: 600;
                  line-height: 1.2;
                  width: fit-content;
                  color: $navy;
                  font-size: 30px;
                  text-align: left;

                  @include mix(mix-2) {
                      font-size: 17px;
                  }

                  span {
                      font-size: 14px;

                      @include mix(mix-2) {
                          font-size: 10px;
                      }
                  }
              }
          }
      }

      .flow-arrow {
          width: 0;
          margin-top: 40px;
      }
  }
}

/*詳細画面共通スタイル*/
.detail {
  h4 {
    @include max(max-1) {
        padding-top: 75px;
    }
  }

  .pipe {
    font-weight: 600;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  #occupation-detail {            
    width: 88%;
    max-width: 1440px;
    margin: 0 auto 100px;
    position: relative;

    @include max(max-1) {
        width: 90%;
    }
    #occupation-tittle {
      width: 85%;
      margin: 50px 0;
      display: flex;
      align-items: baseline;
      padding-bottom: 13px;
      border-bottom: 1px solid #c8c8c8;

      h3 {
        text-align: unset;
        font-size: 24px;
        border: none;
        padding-bottom: 0;
        margin: 0;
      }      

      .pipe {
          font-size: 24px;
          padding-left: 30px;
      }

      ul {
          display: flex;

          li {
              font-size: 14px;
              padding-left: 30px;
          }
      }
    }

    #occupation-img {
      width: 650px;
      height: 400px;

      @include max(max-1) {
          width: 510px;
          height: 325px;
      }

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }

    #recruit-tittle {
        width: 43%;
        font-size: 30px;
        font-weight: 600;
        position: absolute;
        top: 100px;

        @include max(max-1) {
          font-size: 28px;
      }
    }

    #recruit-overview {
      position: absolute;
      top: 250px;
      right: 0;
      background-color: rgba($color: $aqua, $alpha: 0.65);
      width: 950px;
      height: 322px;

      @include max(max-1) {
          top: 225px;
          width: 650px;
          height: 309px;
      }

      p {
          position: absolute;
          width: 80%;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          font-size: 16px;
          line-height: 1.8;

          @include max(max-1) {
              font-size: 14px;
          }

          span {
              display: block;
              padding-top: 20px;
          }
      }
    }
  }

  .point {
    padding: 0 150px;
    margin: 0 auto 100px;
    max-width: 1440px;

    @include max(max-2) {
        padding: 0 75px;
    }

    @include max(max-1) {
        padding: 20px;
    }
    
    .point-box {
        display: flex;
        justify-content: space-between;
    
        .point-block {
            width: 320px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            h5 {
                font-weight: 600;
                padding-top: 10px;
            }
    
            p {
                font-size: 14px;
                padding-top: 25px;
            }
        }
    }
  }    

  #recruitment {
    font-size: 18px;
    padding: 50px 0 80px;
    background-color: $gray;

    h3 {
        padding: 60px 0 13px;
    }
    
    #recruitment-conditions,#recruitment-company {
        width: 88%;
        max-width: 1440px;
        margin: 0 auto;

        @include max(max-1) {
            width: 90%;
        }

        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include max(max-1) {
              font-size: 15px;
          }

          li {
              text-align: center;
              padding-top: 40px;
              
              span {
                  color: $navy;
                  font-weight: 600;
              }
          }

          .pipe {
              width: 1%;
          }

          .full {
              width: 100%;
          }
        }
    }

    #recruitment-conditions {
      li {
          width: 17%;
      }

      .long {
          width: 24%;
      }
    }

    #recruitment-company {
        li {
            width: 20%;
        }

        .long {
            width: 26%;
        }
    }

    a {
        display: block;
        margin: 70px auto 0;
        width: 850px;
        height: 80px;
        font-size: 28px;
        font-weight: 600;
        background-color: #9ed8a4;
        border-radius: 15px;  
        position: relative;
        color: #FFFFFF;
        padding: 20px 140px;
        white-space: nowrap;

        @include max(max-1) {
            width: 780px;
            height: 70px;
            font-size: 24px;        
            padding: 15px 150px;
        }

        &::after {
            position: absolute;
            content: "";
            width: 39px;
            height: 20px;
            margin-left: 20px;
            top: 30px;
            border-bottom: 2px solid #FFFFFF;
            border-right: 2px solid #FFFFFF;
            transform: skew(35deg);

            @include max(max-1) {
                margin-left: 15px;
                top: 23px;
            }
        }

        br {
            display: none;
        }
      }
  }
}

main {

  .contents-block {
    width: calc(100% / 2);
    display: flex;
    padding: 0 10px;

    .contents-img {
      padding-right: 20px;
    }

    p {
      font-weight: 600;
      font-size: 14px;

      a {
        display: inline-block;
        padding-bottom: 10px;
      }

      span {      
        display: block;
        font-size: 12px;
      }
    }
  }

  h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid $border;
    padding-bottom: 13px;
    max-width: 1440px;
    margin: 0 auto;
  }

  h4 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 98px 0 49px 0;
  }

  h5{
    font-size: 18px;
    font-weight: 600;
  }

  .background-img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .decoration {
    position: absolute;
    top: 0;
    width: 152px;
    height: 100%;
    overflow: hidden;
    
    .decoration1,.decoration2 {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .decoration1 {
      opacity: 0.7;
    }
  }
  
  /*求人検索・コミュニティのタイトルスタイル*/
  @mixin p {
    font-size: 22px;
    font-weight: 600;

    span {
      padding-bottom: 15px;
      display: inline-block;
      font-size: 40px;
    }
  }

  #recruit {
    position: relative;
    margin-bottom: 100px;

    #search-background {
      position: relative;
      height: 740px;

      .decoration {
        left: 15%;
        transform: translateX(-50%);

        .decoration2 {
          height: 740px;
        }
      }
    }

    #search-box {
      position: absolute;
      top: 4%;
      left: 50%;
      transform: translateX(-50%);

      @include max(max-3) {
        left: 5%;
        transform: translateX(0);
      }

      @include max(max-1) {
        left: 2%;
      }

      #search-tittle {
        margin-bottom: 105px;
        white-space: nowrap;
        @include p;
      }

      #search-contents {
        display: flex;

        @include max(max-1) {
          align-items: center;
        }

        #contents-img1 {
          margin-right: 65px;

          @include max(max-1) {
            width: 400px;

            img {
              width: 100%;
            }
          }
        }

        form {
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          @include max(max-1) {
            height: 330px;
          }

          select,input {
            width: 480px;
            height: 70px;
            background-color: #FFFFFF;
            color: #888888;
            font-family: 'Klee One', cursive;
            font-size: 20px;
            padding-left: 30px;
            border: 2px solid #a4a4a4;
            border-radius: 10px;
          }

          .select-wrap  {
            position: relative;
            border-radius: 10px;

            &::after {
              content: "";
              width: 0;
              height: 0;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 35px;
              border-left: 9px solid transparent;
              border-right: 9px solid transparent;
              border-top: 13px solid #888888;
              pointer-events: none;       
            }

            select {
              appearance: none;
              position: relative;
              cursor : pointer;
            }
          }

          input {

            &::placeholder {
              color: #888888;
            }

            &[type="submit"] {
              width: 480px;
              height: 63.51px;
              font-weight: 600;
              background-color: #657ccf;
              color: #FFFFFF;
              padding: 0;
              cursor : pointer;
            }
          }
        }
      }
    }
  }

  .pickup {
    background-color: $gray;

    .swiper-container {
      @include max(max-2) {
        overflow: hidden;
      }
    }

    .swiper-wrapper {
      box-sizing: border-box;
    }
    
    .pickup-box {
      display: flex;
      padding: 0 9px;
      max-width: 1440px;
      margin: 0 auto;
      justify-content: space-between;

      .pickup-block {
        width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include max(max-3) {
          width: 23%;
        }

        .pickup-img {
          @include max(max-3) {
            width: 100%;
          }

          img {
            width: 100%;
          }
        }

        .pickup-text {
          width: 320px;

          @include max(max-3) {
            width: 100%;
          }
  
          p {
            padding-top: 25px;
          }
    
          .tagflex {
            display: flex;
            padding-top: 25px;

            @include max(max-3) {
              flex-wrap: wrap;
            }
    
            li {
              font-size: 12px;
              padding-right: 22px;
            }
          }
        }
      }
    }
  }    

  .viewmore {
    padding: 98px 0;
    text-align: center;
    color: #657ccf;
    font-size: 18px;
    font-weight: 600;
  }

  #community {
    position: relative;

    #community-background {
      position: relative;
      height: 690px;
      margin-bottom: 50px;

      .decoration {
        right: 99px;
      }
    }

    #community-box {
      position: absolute;
      top: 4%;
      left: 11%;

      @include max(max-3) {
        left: 5%;
      }

      @include max(max-1) {
        left: 2%;
      }

      #community-tittle {
        margin: {
          left: -10px;
          bottom: 72px;
        }
        @include p;
      }

      #community-contents {
        display: flex;
        align-items: center;

        p {
          padding-left: 47px;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

  #knowhow {

    h4 {
      margin-bottom: 55px;
    }

    #knowhow-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1440px;
      margin: 0 auto;

      .knowhow-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        padding: 0 10px 50px;

        .knowhow-img {
          margin-right: 25px;

          img {
            width: 100%;
          }
        }

        p {
          font-weight: 600;
          font-size: 18px;
    
          a {
            display: inline-block;
            padding-bottom: 10px;
          }
    
          span {
            display: block;
            font-size: 12px;
          }
        }
      }
    }

    .viewmore {
      padding-bottom: 0;
    }
  }
}

/*各ページごとの個別スタイル*/

/*求人検索結果一覧*/
.recruitsearch {
  main {
    #recruit-ranking {
      padding-bottom: 85px;
    }
  }
}
/*コミュニティ検索結果一覧*/
.communitysearch {
  main {
    .category-link {
      padding: 85px;

      @include max(max-3) {
        padding: 85px 45px;
      }
    }

    .category-link1 {
      background-color: #FFFFFF;
    }

    .category-link2 {
      background-color: $gray;
    }

    #recruit-ranking {
      padding-bottom: 85px;

      @include max(max-3) {
        padding-bottom: 50px;
      }
    }

    #consultation {
      margin: 96px auto 100px;
    }
  }
}

/*ノウハウ記事一覧*/
.knowhowpage {
  main {

    #knowhow-list {
    
        #knowhow-list-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 90%;
            max-width: 1440px;
            margin: 0 auto;
        
            .knowhow-list-block {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                padding: 0 10px 50px;
        
                .knowhow-list-img {
                    margin-right: 25px;
                }
        
                p {
                    font-weight: 600;
                    font-size: 18px;
                
                    a {
                        display: inline-block;
                        padding: 10px 0;
                    }
                
                    span {
                        display: block;
                        font-size: 16px;
                    }
                }
            }
        }    

        .spanflex {
            display: flex;
            width: 100%;
            justify-content: center;
            font-weight: 700;
            padding: 50px 0 90px 0;

            li {
                padding: 0 22px;
                font-size: 30px; 
                color: #657ccf;
    
                &:first-child {
                    a {
                        color: #4a4a4a;
                        border-bottom: solid 1px #4a4a4a;
                    }
                }
                
                a:hover {
                    color: #4a4a4a;
                    border-bottom: solid 1px #4a4a4a;
                }
            }    
        }    
    }

    .category-link1 {
      background-color: #FFFFFF;
        padding: 85px;
    
        @include max(max-3) {
            padding: 85px 45px;
        }
    
        ul {
            li {
                width: 16%;

                @include max(max-1) {
                    width: 30%;
                }  
            }
        }
    }    
        
    #consultation {
        margin: 96px auto 100px;
    }    
  }
}

/*運営会社*/
.company {

  main{

    #policy {
        background-color: $gray;
        margin-top: 90px;

        #policy-box {
            width: 90%;
            margin: 0 auto;
            padding: 90px 0 100px;

            h3 {
                font-size: 30px;
                width: 70%;
                margin: 0 auto;
                padding-bottom: 43px;
                border: none;
            }

            p {
                width: 90%;
                font-size: 18px;
                margin: 0 auto 90px;
                text-align: center;
            }

            #policy-img {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    #catch {
        width: 83%;
        max-width: 1440px;
        height: 1070px;
        margin: 97px auto;

        #recruit-catch,#community-catch {
            position: relative;
            
            #catch-ba1,#catch-ba2 {

                &::before,&::after {
                    position: absolute;
                    content: "";
                    background-color: $border;
                    height: 2px;
                    width: 23%;  

                    @include max(max-3) {
                        width: 19%;
                    }

                    @include max(max-1) {
                        width: 21%;
                    }
                }

                &::before {
                    right: 0;
                    top: 25%;
                }

                &::after {
                    left: 0;
                    bottom: -15%;
                }
            }

            #catch-ba2 {

                &::before {
                    transform: translateY(-60px);

                    @include max(max-1) {
                        transform: translateY(-55px);
                    }
                }

                &::after {
                    transform: translateY(260px);
                }
            }

            #catch-img1,#catch-img2 {
                width: 850px;
                height: 400px;

                @include max(max-1) {
                    width: 76%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 0%;
                }
            }
        
            #catch-img2 {
                position: absolute;
                right: 0;
            }

            #recruit-overview,#community-overview {
                position: absolute;
                top: 50%;
                right: 0;
                background-color: rgba($color: $aqua, $alpha: 0.65);
                width: 850px;
                height: 300px;

                @include max(max-1) {
                    width: 650px;
                    height: 280px;
                }

                p {
                    position: absolute;
                    width: 80%;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    font-size: 24px;
                    line-height: 1.8;

                    span {
                        display: block;
                        padding-top: 20px;
                        font-size: 16px;
                    }
                }
            }

            #community-overview {
                transform: translateY(-35%);
                left: 0;

                @include max(max-1) {
                    transform: translateY(-30%);
                }
            }
        }

        #community-catch {
            margin-top: 270px;
        }
    }

    #representative {
        width: 83%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
    
        #representative-img {
            width: 30%;
        }

        p {
            width: 65%;
            font-size: 24px;

            @include max(max-1) {
                width: 53%;
            }

            span {
                display: block;
                font-size: 16px;
                padding: {
                    top: 40px;
                    left: 60px;
                } ;
                
            }
        }
    }
  } 
}

/*プライバシーポリシー*/
.privacypolicy {
  main{
    margin: 50px auto 0;
    width: 90%;
    max-width: 1440px;
    font-size: 18px;

    h3 {
      text-align: left;
      margin-top: 20px;
      border: none;
      padding-bottom: 0;
    }

    p {
      padding-top: 10px;

      &:first-of-type {
          font-size: 20px;
      }
    }
    #company {
        padding: 20px 0;

        span {
            font-size: 12px;
        }
    }
  }
}

/*求人詳細*/
.recruitdetail {
    main{
      
      #recruit-tittle {
        right: 0;
      }

      #recruit-ranking {
      background-color: #FFFFFF;
      padding-bottom: 85px;

      @include max(max-3) {
        padding-bottom: 50px;
      }
    }
  }
}

/*コミュニティ詳細*/
.communitydetail {
  main{

    #occupation-detail {            
        height: 460px;

        #occupation-img {
            text-align: right;
            position: absolute;
            right: 0;
        }

        #recruit-tittle {
            @include max(max-2) {
                width: 39%;
                font-size: 29px;
            }
        }

        #recruit-overview {
            p {
                width: 89%;
            }
        }
    }

    #recruitment {
        
        #recruitment-text {
            text-align: center;
            padding: 40px 0 40px;

            @include max(max-2) {
                font-size: 16px;
            }
        }
    }

    #consultation {
        margin-bottom: 100px;
    }
  }

  .category-link {
    padding-bottom: 85px;
  }
}

/*ノウハウ記事詳細*/
.knowhowdetail {
  main {
    font-size: 18px;

    #knowhow-detail {            
        width: 88%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;

        @include max(max-1) {
            width: 90%;
        }

        #post-tittle {
            width: 85%;
            margin: 50px 0;
            display: flex;
            align-items: baseline;
            padding-bottom: 13px;
            border-bottom: 1px solid #c8c8c8;

            h3 {
                font-size: 24px;
                font-weight: 600;
                border: none;
                margin: 0;

                span {
                    padding-right: 30px;
                }
            }        

            .pipe {
                padding-left: 30px;
            }

            ul {
                display: flex;

                li {
                    font-size: 14px;
                    padding-left: 30px;
                }
            }
        }

        #knowhow-tittle {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 45px;
        }
        
        #hedding {
            display: flex;
            flex-wrap: wrap;

            li {
                color: #657ccf;
                padding-right: 45px;

                @include max(max-1) {
                    padding-right: 40px;
                }
            }
        }
    }

    .post {
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
            
        h4 {
            width: 100%;
            font-size: 24px;
            font-weight: 600;
            margin: 97px 0 45px;
            padding: 0;
            text-align: left;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }

        span {
            display: block;
            padding-top: 45px;
        }
    }

    #post-1 {

        #post-img1 {
            width: 100%;
            height: 350px;
        }

        p {
            margin-top: 45px;
        }
    }

    #post-3,#post-4 {

        #post-img2,#post-img3 {
            width: 40%;
            height: 350px;
        }

        p {
            width: 57%;
            margin-top: 25px;
        }
    }

    #spanflex {
        width: 88%;
        margin: 85px auto 0;
        display: flex;
        justify-content: space-between;

        span {
            display: block;
            color: #657ccf;
        }
    }
  }

  .category-link1 {
    background-color: #FFFFFF;
      padding: 85px;
  
      @include max(max-3) {
          padding: 85px 45px;
      }
  
      ul {
          li {
              width: 16%;

              @include max(max-1) {
                  width: 30%;
              }  
          }
      }
  }    
}

/*応募フォーム*/
.contactform {

  main {
    font-size: 18px;

    h3 {
      text-align: center;
      font-size: 36px;
      margin-top: 80px;
      border: none;
    }

    form {
      background-color: $gray;
      margin-top: 40px;
      padding: 80px 50px;

      .form-item {
          background-color: #FFFFFF;
          max-width: 1440px;
          margin: 0 auto 25px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding: 30px 50px;

          h4 {
              font-size: 24px;
              width: 20%;
              text-align: left;
              margin: 0;
              padding: 0;

              @include max(max-3) {
                  width: 15%;
              }

              @include max(max-1) {
                  font-size: 20px;
              }
          }

          .mandatory {
              color: $red;
          }

          .mandatory,.option {
              width: 8%;

              @include max(max-1) {
                  width: 10%;
              }
          }

          label {
              font-size: 18px;
          }

          label.error {
              width: 100%;
              color: $red;
              padding: {
                  top: 15px;
                  left:28%;
              } 

              @include max(max-3) {
                  padding-left: 23%;
              }

              @include max(max-1) {
                  padding-left: 25%;
              }
          }

          input,select,textarea {
              border: 2px solid #a4a4a4;
              border-radius: 10px;
              font-family: 'Klee One', cursive;
              font-size: 20px;
              background-color: #FFFFFF;
              color: #888888;
              padding-left: 25px;

              @include max(max-1) {
                  font-size: 18px;
              }
          }

          textarea {
              width: 789.13px;
              height: 197.67px;
              padding-top: 15px;
              resize: none;

              @include max(max-1) {
                  width: 600px;
              }
          }
      }

      .item1,.item2,.item6,.item7 {
          input {
              width: 789.48px;
              height: 57.15px; 

              @include max(max-1){
                  width: 600px;
              }
          }
      }

      .item3 {
          label {
              padding: {
                  right: 30px;
                  left: 30px;
              }
              cursor: pointer;
              position: relative;


              input {
                  visibility: hidden;
              }

              span {
                  &::before,&::after {
                      content: "";
                      display: block;
                      border-radius: 50%;
                      position: absolute;
                      transform: translateY(-50%);
                      top: 50%;
                      pointer-events: none;       
                  }

                  &::before {
                      background-color: #fff;
                      border: 2px solid #a4a4a4;
                      height: 40px;
                      width: 40px;
                      left: 5px;
                  }

                  &::after {
                      background-color: #565656;
                      opacity: 0;
                      height: 28px;
                      width: 28px;
                      left: 11px;
                  }
              }

              input:checked + span::after {
                  opacity: 1;
              }
          }
      }

      .item4 {
          .select-wrap  {
              position: relative;
              border-radius: 10px;

              &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 35px;
                  border-left: 9px solid transparent;
                  border-right: 9px solid transparent;
                  border-top: 13px solid #888888;
                  pointer-events: none;       
              }

              select {
                  appearance: none;
                  cursor : pointer;
                  height: 57.15px; 
                  margin-right: 18px;    
              }

              #year {
                  width: 277.76px;
              }

              #month,#day {
                  width: 107.28px;
              }
          }
      }

      .item5 {
          
          .mandatory {
              margin-bottom: 165px;
          }

          #adress {
              display: flex;
              flex-direction: column;

              input,select {
                  width: 240.39px;
                  height: 57.12px;
                  margin: {
                      left: 12px;
                      bottom: 25px;
                  }
              }
              
              #prefectures {
                  display: flex;
                  align-items: baseline;

                  label {
                      width: 10%;

                      @include max(max-1) {
                          width: 13%;
                      }
                  }

                  .select-wrap  {
                      position: relative;
                      border-radius: 10px;
          
                      &::after {
                          content: "";
                          width: 0;
                          height: 0;
                          position: absolute;
                          top: 28.56px;
                          transform: translateY(-35%);
                          right: 17px;
                          border-left: 9px solid transparent;
                          border-right: 9px solid transparent;
                          border-top: 13px solid #888888;
                          pointer-events: none;       
                      }

                      select {
                          appearance: none;
                          cursor : pointer;
                      }
                  }
              }

              #housenumber {
                  margin-bottom: 0;
                  width: 699.03px;

                  @include max(max-1) {
                      width: 510.03px;
                  }
              }
          }
      }

      .item8,.item10 {
          
          h4,.mandatory,.option {
              margin-bottom: 171px;
          }
      }

      .item9 {
          justify-content: space-between;

          h4,.option {
              margin-bottom: 85px;
          }

          #checkbox {
              width: 72%;
              display: flex;
              flex-wrap: wrap;

              label {
                  width: 25%;

                  input {
                      display: none;
                  }

                  span {
                      display: block;
                      width: 180px;
                      height: 50px;
                      color: $navy;
                      font-size: 16px;
                      border: 2px solid $navy;
                      border-radius: 25px;
                      padding: 10px 40px;
                      margin-bottom: 20px;
                      cursor: pointer;

                      @include mix(mix-2) {
                          width: 140px;
                          font-size: 15px;
                          padding: 12px 23px;
                      }
                  }

                  .under {
                      margin-bottom: 0;
                  }

                  input:checked + span {
                      color: #FFF;
                      background: $navy;
                      border: 2px solid $navy;
                  }
              }
          }
      }

      .item11 {

        .select-wrap  {
            position: relative;
            border-radius: 10px;

            &::after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 35px;
                border-left: 9px solid transparent;
                border-right: 9px solid transparent;
                border-top: 13px solid #888888;
                pointer-events: none;       
            }

            select {
                appearance: none;
                cursor : pointer;
                height: 57.15px; 
                width: 240.39px;
                margin-right: 18px;    
            }
        }
      }

      .applybutton {
        text-align: center;
        width: 850px;
        margin: 100px auto 0;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 39px;
            height: 20px;
            top: 32px;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: skew(35deg);
        }

        input {
            background-color: #003973;
            color: #fff;
            border-radius: 15px;
            border: none;
            width: 850px;
            height: 80px;
            font-size: 28px;
            font-family: 'Klee One', cursive;
            cursor: pointer;
        }
      }

      .applybutton1 {
        &::after {
          right: 255px;
        }
      }

      .applybutton2 {
        &::after {
          right: 230px;
        }
      }
    }
  }
}

/*応募完了画面*/
.thankyou {

  h3,h4 {
    font-size: 36px;
    font-weight: 600;
    padding: 98px 0 49px 0;
    text-align: center;
    border: none;
  }

  #consultation {
    #consultation-ba{
      a {
        &::after {
            margin-left: 80px;
        }
      }
    }
  }

  #recruit-ranking {
    padding: 0 85px 85px;

    @include max(max-3) {
        padding: 0 40px 85px;
    }
    
    h3 {
        font-size: 20px;
        padding-bottom: 13px;
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $border;    
    }
  }

  .category-link {
    padding: 0 85px 85px;

    @include max(max-3) {
        padding: 85px 45px;
    }

    h3 {
        font-size: 20px;
        padding-bottom: 13px;
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $border;
    }
  }
}

/*フッター*/
footer {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  margin-top: 180px;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    height: 2px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $navy;
  }

  p {
    padding:85px 0 25px;
  }

  li {
    padding-bottom: 15px;

    @include max(max-2) {
      font-size: 13px;
    }

  }

  #footer-container {
    margin: 0 20px;
    height: 100%;
    background-color: #003973;
    position: relative;

    #arrow {
      background-color: #fff;
      cursor : pointer;

      img {
        position: absolute;
        top: -9%;
        right: 21px;
        width: 35px;
        height: 101px;

        @include max(max-1) {
          top: -9.3%;
        }
      }
    }

    #footer-flex {
      display: flex;
      justify-content: space-between;
      margin: 0 20px;
      padding: 0 97px;
      border: {
        left: 10px solid #fff;
        right: 10px solid #fff;
      }

      @include max(max-2) {
        padding: 0 30px;
      }

      #flex1 {
        padding-top: 50px;

        #footer-icon {
          display: block;
          width: 37px;
          height: 21px;
          margin-bottom: 15px;
          padding-left: 70.5px;
        }

        #footer-logo {
          display: block;
          width: 177px;
          height: 20px;
        }

        p {
          padding: 45px 0 0;
        }

        #corporation {
          font-weight: 600;
        }

        #address {
          font-size: 12px;
          padding-top: 13px;
        }
      }

      .flex2 {
        
        p {
          font-size: 18px;
          font-weight: 600;

          @include max(max-2) {
            font-size: 16px;
          }      
        }

        #list2 {
            padding: 15px 0;
        }
      }
    }

    #copyright {
      text-align: center;
      font-weight: 600;
      margin: 0 20px;
      padding: 73px 0 28px;
      border: {
        left: 10px solid #fff;
        right: 10px solid #fff;
      }
    }
  }
}